<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
  <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <![endif]-->
  <style>
    table, td, div, h1, p {font-family: Arial, sans-serif;}
	
  </style>
  <style>
.fa {
  padding: 10px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

  </style>
</head>
<body style="margin:0;padding:0;">
  <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
    <tr>
      <td align="center" style="padding:0">
        <table role="presentation" style="width: ;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
		{% for obj in order_services_list %}
          <tr>
            <td align="center" style="padding: 5px 60px 5px 05px;background:#000000;">
				<img src="http://138.68.155.215:8000/static/img/logo-with-title.png" alt="Girl in a jacket" width="115" height="100" align="right" padding-top="50px">
				<h1 style="font-size:20px;margin:40px 40px  0;font-family:Arial,sans-serif; color:#FFFF; text-align:left; top:10px">Order {{obj.custom_id}} Delivered Successfully</h1>
				
            </td>
          </tr>
		{% endfor %}
          <tr>
            <td style="padding:20px 50px 20px 50px;">
              <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                <tr>
                  <td style="padding:0 0 05px 0;color:#153643;">
                    <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">Dear Valued Customer</h1>
                    <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Thank you for placing your order with Meat4All.</p>
                    <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">We hope all your ordered items have been delivered as per your require specifications. if there are any issues with the order or missing items,</p>                    
                    <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"> please contact the Vender directly on their respective contact number.</p>                    
                  </td>
                </tr>
                <tr>
                  <td style="padding:0;">
				  <table role="presentation" style="width: ;border-collapse:;border:0;border-spacing:0;">
						  <tr>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Name</th>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Quantity</th>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Price</th>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Unit</th>
						  </tr>
						{% for obj in order_services_list %}
						  <tr>
							<td style="border:1px solid black;">{{ obj.service.sub_category.name }}</td>
							<td style="border:1px solid black;">{{ obj.quantity }}</td>
							<td style="border:1px solid black;">£ {{ obj.price }}</td>
							<td style="border:1px solid black;">{{ obj.unit }}</td>
						  </tr>
						{% endfor %}  
						  <tr>
							<td style="border:1px solid black; font-weight:bold;">Sub Total</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black; font-weight:bold;">£ {{ order_obj.total }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>
						  <tr>
							<td style="border:1px solid black;">Packing Charge</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black;">£ {{ order_obj.packing_charge }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>
						  <tr>
							<td style="border:1px solid black;">Delivery Charge</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black;">£ {{ order_obj.mile_charge }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>
						  <tr>
							<td style="border:1px solid black;">Discount (-)</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black;">£ {{ order_obj.discount }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>							  
						  <tfoot>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Total Bill</th>						  
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;"></th>						  
							<td style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">£ {{ order_obj.total_bill }}</td>						  
							<td style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;"></td>						  
						  </tfoot>	
				  </table>
				  <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"> We look forward to your next order soon and avail further discounts.</p>
				  <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"> Thank you for shopping with us.</p>
				  <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"> - Meat4All Team</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
           <tr>
            <td align="center" style="padding: 5px 20px 5px;background:#000000;">
				<img src="http://138.68.155.215:8000/static/img/M4A_QR_Code.png" alt="Girl in a jacket" width="100" height="100" align="right" style="padding:3px 120px 0px 0px;">
				<h1 style="font-size:30px;margin:40px 260px 20px 95px;font-family:Arial,sans-serif; color:#FFFF; text-align:left; top:10px">Delicious Meat Delivered Fresh To Your Doorstep</h1>
				
            </td>
          </tr>
		  <tr>
			<link rel="stylesheet" href="">
			
            <td align="center" style="padding: 5px 30px 10px 30px;background:#000000;">
				<a href="https://www.facebook.com/Meats4All-109484181306113" class="fa fa-facebook"></a>
				<a href="https://www.instagram.com/meats4all/" class="fa fa-instagram"></a>
				<a href="https://twitter.com/meats4all" class="fa fa-twitter"></a>
				<a href="https://www.youtube.com/channel/UCXGH9XjXSl-7JTykJlY3-Bg" class="fa fa-youtube"></a>
				<a href="https://www.linkedin.com/company/meats4all" class="fa fa-linkedin"></a>
				<img src="http://138.68.155.215:8000/static/img/playstore_button.png" alt="Girl in a jacket" width="180px" height="60px" align="right" style="padding:0px 0px 0px 0px;"> <img src="http://138.68.155.215:8000/static/img/appstore_button.png" alt="Girl in a jacket" width="180px" height="60px" align="right" style="padding:0px 0px 0px 335px;">
            </td>
			
          </tr>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>