{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}


{% block main_content %}
<div class="row form-group">
        <div class="col-lg-12 col-md-4 col-xs-8 align-self-center">
        <h4 style="color: white;">Payout History</h4>
        </div>
 </div>

        <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                    <table  id="table" class="table text-muted mb-0 no-wrap recent-table font-light">
                        <thead>
                        <tr class="text-uppercase;">
                            <th>ID</th>
                            <th>Payout Date</th>
                            <th>Email</th>
                            <th>Contact Name</th>
                            <th>Contact Phone Number</th>
                            <th>Payout Type</th>
                            <th>Payout Amount</th>
  
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in order_list %}
                            <tr style="">
                                <td class="">{{obj.payout_reference}}</td>
                                <td class="">{{obj.payout_date}}</td>
                                <td class="">{{obj.contact_email}}</td>
                                <td class="">{{obj.contact_name}}</td>
                                <td class="">{{obj.contact_phone_number}}</td>
                                <td class="">{{obj.payout_type}}</td>
                                <td class="">£{{obj.total_amount}}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--                        #################### TOTAL AMOUNT ###################-->
<script language="javascript" type="text/javascript">
<!--                     ####################   DELIVERY FEE  ###################-->
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'mile_charge') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('mile_charge').innerHTML = "Total Delivery Fee = £" + sum.toFixed(2);
</script>
<!--                     ####################   DRIVER CHARGE ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'driver_charge') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('driver_charge').innerHTML = "Total Driver Charge = £" + sum.toFixed(2);
</script>
<!--                     ####################   SERVICE FEE ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'packing_charge') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('packing_charge').innerHTML = "Total Service Fee = £" + sum.toFixed(2);
</script>
<!--                     ####################   CUSTOMER PAYMENT   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'customer_payment') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('customer_payment').innerHTML = "Total customer payment = £" + sum.toFixed(2);
</script>
<!--                     ####################  STRIPE FEE   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'skype_amount1') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('skype_amount1').innerHTML = "Total Stripe Fee = £" + sum.toFixed(2);
</script>
<!--                     ####################  Sub Total-1   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'sub_total_1') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('sub_total_1').innerHTML = "Total Sub Total-1 = £" + sum.toFixed(2);
</script>
<!--                     ####################  Service Fee Deducted   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'service_fee_deducted') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('service_fee_deducted').innerHTML = "Total Service Fee Deducted = £" + sum.toFixed(2);
</script>
<!--                     ####################  Delivery charge Deducted  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'delivery_charge_deducted') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('delivery_charge_deducted').innerHTML = "Total Delivery charge Deducted = £" + sum.toFixed(2);
</script>
<!--                     ####################  Customer transaction value  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'customer_transaction_value') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('customer_transaction_value').innerHTML = "Total Customer transaction value = £" + sum.toFixed(2);
</script>
<!--                     ####################  M4A platform fee  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'meat4all_platform_fee_20_percent') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('meat4all_platform_fee_20_percent').innerHTML = "Total M4A platform fee = £" + sum.toFixed(2);
</script>
<!--                     ####################  Sub Total-2  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'sub_total_2') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('sub_total_2').innerHTML = "Total Sub Total-2 = £" + sum.toFixed(2);
</script>
<!--                     ####################  Stripe Payout Vendor  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'stripe_payout_charge_vendor') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('stripe_payout_charge_vendor').innerHTML = "Total Stripe Payout Vendor = £" + sum.toFixed(2);
</script>
<!--                     ####################  Vendor Payout  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'vendor_payout') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('vendor_payout').innerHTML = "Total Vendor Payout = £" + sum.toFixed(2);
</script>
<!--                     ####################  Delivery charge  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'mile_charge1') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('mile_charge1').innerHTML = "Total Delivery charge = £" + sum.toFixed(2);
</script>
<!--                     ####################  Stripe Payout Driver  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'stripe_payout_charge_driver') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('stripe_payout_charge_driver').innerHTML = "Total Stripe Payout Driver = £" + sum.toFixed(2);
</script>
<!--                     ####################  Driver payout  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'driver_payout') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('driver_payout').innerHTML = "Total Driver payout = £" + sum.toFixed(2);
</script>
<!--                     ####################  M4A Platform fee Driver  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'platform_fee_driver') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('platform_fee_driver').innerHTML = "Total M4A Platform fee Driver = £" + sum.toFixed(2);
</script>
<!--                     ####################  TOTAL M4A AMOUNT   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'total_m4a_amount') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('total_m4a_amount').innerHTML = "Total M4A Amount = £" + sum.toFixed(2);
</script>
<!--                     ####################  NET VALUE M4A   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'net_value_m4a') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('net_value_m4a').innerHTML = "Total Net Value M4A = £" + sum.toFixed(2);
</script>
                  </div>
                </div>
            </div>
        </div>
    </div>

    {% if order_list.has_other_pages %}
        <ul class="pagination float-right" style="margin-bottom: 6%">
            {% if order_list.has_previous %}
                <li class="margin-top" ><a href="?page={{ order_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&laquo;</span></li>
            {% endif %}
            {% for i in order_list.paginator.page_range %}
                {% if order_list.number == i %}
                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if order_list.has_next %}
                <li class="margin-top" ><a href="?page={{ order_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
{% block js %}
{% endblock %}