{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}

{% block main_content %}
     <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4><a href="/user/executive_list/"><i class="text-danger fas fa-arrow-alt-circle-left"></i></a> {{ executive_obj.user.first_name }}</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            {#             <a class="btn btn-rounded btn-primary btn-sm waves-effect float-right" href="/user/add_order/">#}
            {#                Add#}
            {#            </a>#}
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="latitude" id="latitude" class="form-control" value="{{ executive_obj.latitude }}">
        <input type="hidden" name="longitude" id="longitude" class="form-control" value="{{ executive_obj.longitude }}">

        <div class="row margin-top">
            <div class="col-lg-6 col-md-6" style="display: flex">
                <div class="card width-100">
                    <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                        <h6 class="card-title white-text mb-0 text-uppercase">Basic Details</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 form-group">
                                <label class="col-form-label" for="first_name">Name</label>
                                <input type="text" name="first_name" id="first_name" class="form-control" value="{{ executive_obj.user.first_name }}" required>
                            </div>
                            <div class="col-lg-6 col-md-6 form-group">
                                <label class="col-form-label" for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" value="{{ executive_obj.email }}" required>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 form-group">
                                <label class="col-form-label" for="username">Mobile</label>
                                <input readonly type="text" name="username" class="form-control" id="username" value="{{ executive_obj.user.username }}" required>
                            </div>
                            <div class="col-lg-6 col-md-6 form-group">
                                <label class="col-form-label" for="mobile2">Contact Number</label>
                                <input type="text" name="mobile2" class="form-control" value="{{ executive_obj.mobile2 }}" id="mobile2" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 align-self-center form-group">
                                <label class="mr-sm-2" for="mode">Transport Mode</label>
                                <select class="custom-select mr-sm-4" name="mode" id="mode" required>
                                    <option {% if executive_obj.mode == 1 %} selected {% endif %} value="1">Motor Bike</option>
                                    <option {% if executive_obj.mode == 2 %} selected {% endif %} value="2">Car</option>
                                    <option {% if executive_obj.mode == 3 %} selected {% endif %} value="3">Bicycle</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-9 form-group">
                                <label class="col-form-label" for="avatar">Image</label>
                                <input type="file" name="avatar" class="form-control" id="avatar">
                            </div>
                            <div class="col-lg-3 col-md-3 form-group">
                                <img style="margin-top: 30px" src="{{ base_image_url }}/media/{{ executive_obj.user.avatar }}" height="50">
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 display-flex" style="display: flex">
                <div class="card width-100" style="width: 100%">
                    <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                        <h6 class="card-title white-text mb-0 text-uppercase">Others</h6>
                    </div>
                    <div class="card-body">
                        <div id="more_image_div">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="col-form-label" for="v_name">Vehicle Registration Number</label>
                                    <input type="text" name="v_name" id="v_name" class="form-control" value="{{ executive_obj.v_name }}" required>
                                </div>
                                <div class="col-lg-5 col-md-5 form-group">
                                    <label class="col-form-label" for="rc">Vehicle Registration Upload</label>
                                    <input type="file" name="rc" class="form-control" id="rc">
                                </div>
                                <div class="col-lg-1 col-md-1 form-group">
                                    <img style="margin-top: 40px" src="{{ base_image_url }}/media/{{ executive_obj.rc }}" height="50">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="col-form-label" for="insurance">Vehicle Valid Insurance Certificate</label>
                                    <input type="date" name="insurance" id="insurance" value="{{ executive_obj.insurance }}" class="form-control" required>
                                </div>
                                <div class="col-lg-5 col-md-5 form-group">
                                    <label class="col-form-label" for="insurance_upload">Insurance Upload</label>
                                    <input type="file" name="insurance_upload" class="form-control" id="insurance_upload">
                                </div>
                                <div class="col-lg-1 col-md-1 form-group">
                                    <img style="margin-top: 40px" src="{{ base_image_url }}/media/{{ executive_obj.insurance_upload }}" height="50">
                                </div>

                            </div>


                            {#                                <div class="col-lg-6 col-md-6 form-group">#}
                            {#                                    <label class="col-form-label" for="v_name">Vehicle Number</label>#}
                            {#                                    <input type="text" name="v_name" id="v_name" class="form-control" value="{{ executive_obj.v_name }}" required>#}
                            {#                                </div>#}
                            {#                                <div class="col-lg-6 col-md-6 form-group">#}
                            {#                                    <label class="col-form-label" for="dl_no">DL Number</label>#}
                            {#                                    <input type="text" name="dl_no" id="dl_no" value="{{ executive_obj.dl_no }}" class="form-control" required>#}
                            {#                                </div>#}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="col-form-label" for="dl_date">DL Expiry Date</label>
                                    <input type="date" name="dl_date" class="form-control" value="{{ executive_obj.dl_date|date:'Y-m-d' }}" id="dl_date" required>
                                </div>
                                <div class="col-lg-5 col-md-5 form-group">
                                    <label class="col-form-label" for="rc">DL Upload</label>
                                    <input type="file" name="dl_upload" class="form-control" id="dl_upload">
                                </div>
                                <div class="col-lg-1 col-md-1 form-group">
                                    <img style="margin-top: 40px" src="{{ base_image_url }}/media/{{ executive_obj.dl_upload }}" height="50">
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="col-form-label" for="dl_no">DL Number</label>
                                    <input type="text" name="dl_no" id="dl_no" class="form-control" value="{{ executive_obj.dl_no }}" required>
                                </div>

                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="col-form-label" for="de_charge_per">Delivery Fee (%)</label>
                                    <input type="text" name="de_charge_per" id="de_charge_per" class="form-control" value="{{ executive_obj.de_charge_per}}">
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12 align-self-center form-group">
                                    <label class="mr-sm-2" for="status">Status</label>
                                    <select class="custom-select mr-sm-4" name="status" id="status" required>
                                        <option {% if executive_obj.is_verified %} selected {% endif %} value="True">Verified</option>
                                        <option {% if not executive_obj.is_verified %} selected {% endif %} value="False">Un-Verified</option>
                                    </select>
                                </div>


                            </div>
                            {#                            <div class="row">#}
                            {#                                <div class="col-lg-6 col-md-6 form-group">#}
                            {#                                    <label class="col-form-label" for="rc">RC</label>#}
                            {#                                    <input type="file" name="rc" class="form-control" id="rc">#}
                            {#                                </div>#}
                            {#                                  <div class="col-lg-3 col-md-3 form-group">#}
                            {#                                <img style="margin-top: 30px" src="{{ base_image_url }}/media/{{ executive_obj.rc }}" height="50">#}
                            {#                            </div>#}
                            {#                            </div>#}

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 col-md-6 display-flex">
                <div class="card width-100" style="margin-top: 10px">
                    <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                        <h6 class="card-title white-text mb-0 text-uppercase">Bank</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <label class="col-form-label" for="bank_name">Bank Name</label>
                                <input type="text" name="bank_name" id="bank_name" class="form-control" value="{{ executive_obj.bank_name }}">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="col-form-label" for="sort_code">Sort Code</label>
                                <input type="text" name="sort_code" class="form-control" id="sort_code" value="{{ executive_obj.sort_code }}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6 col-md-6">
                                <label class="col-form-label" for="account_no">Account Number</label>
                                <input type="text" name="account_no" class="form-control" id="account_no" value="{{ executive_obj.account_no }}">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="col-form-label" for="holder_name">Ac Holder Name</label>
                                <input type="text" name="holder_name" class="form-control" id="holder_name" value="{{ executive_obj.holder_name }}">
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="mr-sm-2" for="payment">Payment</label>
                            <select class="custom-select mr-sm-4" name="payment" id="payment" required>
                                <option {% if executive_obj.payment == 1 %} selected {% endif %} value="1">Daily</option>
                                <option {% if executive_obj.payment == 2 %} selected {% endif %} value="2">Weekly</option>
                                <option {% if executive_obj.payment == 3 %} selected {% endif %} value="3">Monthly</option>
                            </select>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 " style="margin-top: 10px">
                <input id="pac-input" class="form-control" type="text" placeholder="Search Box">
                <div id="map" style="width:100%;height:400px;"></div>



            </div>


        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initAutocomplete" async defer></script>


        <script>


            var map=null;
            var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',                      // Locality / Village
                administrative_area_level_1: 'long_name',   // State
                administrative_area_level_2: 'long_name',   // City
                country: 'long_name',                       // Country
                postal_code: 'short_name'                   // Zipcode
            };
            function add_vendor() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                                var pos = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                };
                                map = new google.maps.Map(
                                        document.getElementById('map'), {
                                            zoom: 16,
                                            center: pos
                                        });
                                var marker = new google.maps.Marker({
                                    position: pos,
                                    map: map,
                                    draggable: true
                                });
                                console.log(marker);
                                $('#latitude').val(pos.lat);
                                $('#longitude').val(pos.lng);
                                map.setCenter(pos);
                                google.maps.event.addListener(marker, "mouseover", function (event) {
                                    var latitude = event.latLng.lat();
                                    var longitude = event.latLng.lng();
                                    console.log(latitude + ', ' + longitude);
                                    $('#latitude').val(latitude);
                                    $('#longitude').val(longitude);
                                }); //end addListener
                            },
                            function () {
                            });
                }
                else {
                }
            }
            function initAutocomplete() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    mapTypeId: 'roadmap'
                });
                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                // Bias the SearchBox results towards current map's viewport.
                map.addListener('bounds_changed', function () {
                    searchBox.setBounds(map.getBounds());
                });
                var markers = [];
                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                searchBox.addListener('places_changed', function () {
                    var places = searchBox.getPlaces();
                    console.log(places);
                    var new_lat = places[0].geometry.location.lat();
                    var new_lng = places[0].geometry.location.lng();
                    $('#latitude').val(new_lat);
                    $('#longitude').val(new_lng);
                    var pos = {
                        lat: new_lat,
                        lng: new_lng
                    };
                    map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 16, center: pos});
                    markers = new google.maps.Marker({position: pos, map: map, draggable: true});
                    $('#latitude').val(pos.lat);
                    $('#longitude').val(pos.lng);
                    infoWindow.open(map);
                    map.setCenter(pos);
                    google.maps.event.addListener(markers, "mouseover", function (event) {
                        var latitude = event.latLng.lat();
                        var longitude = event.latLng.lng();
                        $('#latitude').val(latitude);
                        $('#longitude').val(longitude);
                    }); //end addListener //end

                    // Clear out the old markers.
                    markers.forEach(function (marker) {
                        marker.setMap(null);
                    });
                    markers = [];
                    // For each place, get the icon, name and location.
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function (place) {
                        if (!place.geometry) {
                            console.log("Returned place contains no geometry");
                            return;
                        }
                        var icon = {
                            url: place.icon,
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(17, 34),
                            scaledSize: new google.maps.Size(25, 25)
                        };
                        // Create a marker for each place.
                        markers.push(new google.maps.Marker({
                            map: map,
                            title: place.name,
                            position: place.geometry.location,
                            draggable: true
                        }));

                        if (place.geometry.viewport) {
                            // Only geocodes have viewport.
                            bounds.union(place.geometry.viewport);
                        } else {
                            bounds.extend(place.geometry.location);
                        }
                    });
                    map.fitBounds(bounds);
                });
                var infoWindow = new google.maps.InfoWindow;
                // Try HTML5 geolocation.
                var latitude = document.getElementById('latitude').value;
                var longitude = document.getElementById('longitude').value;
//                                                console.log(edit_flag);
//                                                if (edit_flag) {
                if ((latitude == '') || (latitude == null) || (latitude == 'None')) {
                    add_vendor();
                }
                else {
                    var lat = parseFloat(latitude);
                    var long = parseFloat(longitude);
                    var pos = {
                        lat: lat,
                        lng: long
                    };
                    map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 16, center: pos});
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        draggable: true
                    });
                    $('#latitude').val(pos.lat);
                    $('#longitude').val(pos.lng);
                    infoWindow.open(map);
                    map.setCenter(pos);
                    google.maps.event.addListener(marker, "mouseover", function (event) {
                        var latitude = event.latLng.lat();
                        var longitude = event.latLng.lng();
                        $('#latitude').val(latitude);
                        $('#longitude').val(longitude);
                        console.log(latitude + '/' + longitude);
//                                                            flag_change_basic_info = true;
                    }); //end addListener


                }
            }
            //                                                else {
            //                                                    add_vendor();
            //                                                }
            //                                            }
        </script>

        <br>
        <div class="float-right" style="margin-bottom: 20px">
            <button class="btn btn-primary float-right" type="submit">Update</button>

        </div>

    </form>


{% endblock %}
{% block js %}
{% endblock %}