{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}


{% block main_content %}
    <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4>Drivers</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <a class="btn btn-rounded btn-primary btn-sm waves-effect float-right" href="/user/add_executive/">
                Add
            </a>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                        <table id="zero_config" class="table text-muted mb-0 no-wrap recent-table font-light">
                            <thead>
                            <tr class="text-uppercase">
                                <th>#</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Mode</th>
                                <th>Balance</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in executive_list %}
                                <tr>
                                    <td class="txt-oflo">{{ forloop.counter}}</td>
                                    <td class="txt-oflo">{{ obj.user.first_name }}</td>
                                    <td class="txt-oflo">{{ obj.user.username }}</td>
                                   
                                    <td class="txt-oflo">{{ obj.get_mode_display }}</td>
                                    <td class="txt-oflo">{{ obj.balance }}</td>
                                    <td class="txt-oflo">
                                        <a href="#">
                                            {% if obj.avatar == '' %}
                                                <img src="/static/img/avatar.png" style="height: 30px;">
                                            {% else %}
                                                <img src="{{ base_image_url }}/media/{{ obj.user.avatar }}" style="height: 30px;">
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="txt-oflo"><a href="#!">{% if obj.is_verified %} Verified {% else %} Un-Verified {% endif %}</a></td>

                                    <td>
                                        <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="/user/edit_executive/{{ obj.id }}/?tab=6"><i class="fas fa fa-pencil-alt"></i></a>
                                        <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="/user/view_executive/{{ obj.id }}/?tab=6" ><i class="fas fa fa-eye"></i></a>
                                        <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="/user/{{ obj.id }}/executive_report/?tab=6" ><i class="fas fa fa-chart-area"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if executive_list.has_other_pages %}
        <ul class="pagination float-right" style="margin-bottom: 6%">
            {% if executive_list.has_previous %}
                <li class="margin-top" ><a href="?page={{ executive_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&laquo;</span></li>
            {% endif %}
            {% for i in executive_list.paginator.page_range %}
                {% if executive_list.number == i %}
                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if executive_list.has_next %}
                <li class="margin-top" ><a href="?page={{ executive_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
{% block js %}
{% endblock %}