{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}


{% block main_content %}
    <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4><a href="/user/executive_list/"><i class="text-danger fas fa-arrow-alt-circle-left"></i></a> {{ executive_obj.user.first_name }}</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <a class="btn btn-rounded btn-primary btn-sm waves-effect float-right" href="/user/edit_executive/{{ executive_obj.id }}/">
                 <i class="fas fa fa-pencil-alt"></i>
            </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-6">
            <div class="card">
                <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                    <h6 class="card-title white-text mb-0 text-uppercase">Basic Details</h6>
                </div>
                <div class="col-lg-12 col-md-12 col-xl-12 active collapse show" id="appraisals" data-parent="#accordion">
                    <div id="appraisal-questions">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>

                                    <tr>
                                        <th scope="row">Person Name:</th>
                                        <td>{{ executive_obj.user.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Username:</th>
                                        <td>{{ executive_obj.user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email:</th>
                                        <td>{{ executive_obj.email }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Contact Number:</th>
                                        <td>{{ executive_obj.mobile2 }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Transport Mode:</th>
                                        <td>{{ executive_obj.get_mode_display }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address:</th>
                                        <td>{{ executive_obj.address }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Bank Name:</th>
                                        <td>{{ executive_obj.bank_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sort Code:</th>
                                        <td>{{ executive_obj.sort_code }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Account Number:</th>
                                        <td>{{ executive_obj.account_no }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ac Holder Name:</th>
                                        <td>{{ executive_obj.holder_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Payment:</th>
                                        <td>{{ executive_obj.get_payment_display }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Image:</th>
                                        <td>
                                               <a target="_blank" href="{{ base_image_url }}/media/{{ executive_obj.user.avatar  }}">
                                            <img style="height: 30px" src="{{ base_image_url }}/media/{{ executive_obj.user.avatar }}">
                                        </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                    <h6 class="card-title white-text mb-0 text-uppercase">Other Details</h6>
                </div>
                <div class="col-lg-12 col-md-12 col-xl-12 active collapse show" id="appraisals" data-parent="#accordion">
                    <div id="appraisal-questions">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Vehicle Number:</th>
                                        <td>{{ executive_obj.v_name }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">DL Number:</th>
                                        <td>{{ executive_obj.dl_no }} ({{ executive_obj.dl_date }})</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DL Upload:</th>
                                        <td><a href="{{ base_image_url }}/media/{{ executive_obj.dl_upload }}" target="_blank">
                                            <img style="height: 30px" src="{{ base_image_url }}/media/{{ executive_obj.dl_upload }}">
                                        </a></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Vehicle Registration Upload:</th>
                                        <td><a href="{{ base_image_url }}/media/{{ executive_obj.rc }}" target="_blank">
                                            <img style="height: 30px" src="{{ base_image_url }}/media/{{ executive_obj.rc }}">
                                        </a></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Insurance Valid:</th>
                                        <td>{{ executive_obj.insurance }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Insurance Upload:</th>
                                        <td><a href="{{ base_image_url }}/media/{{ executive_obj.insurance_upload }}" target="_blank">
                                            <img style="height: 30px" src="{{ base_image_url }}/media/{{ executive_obj.insurance_upload }}">
                                        </a></td>
                                    </tr>


                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

{% endblock %}
{% block js %}
{% endblock %}