{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}


{% block main_content %}
    <style>
        .tooltip-inner {
            white-space: pre-wrap;
        }
    </style>
    <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4>Admin Users</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <button class="btn btn-rounded btn-primary btn-sm waves-effect float-right" data-toggle="modal" data-target="#add_admin_modal">
                Add Admin
            </button>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                        <table id="zero_config" class="table text-muted mb-0 recent-table font-light">
                            <thead>
                            <tr class="text-uppercase">
                                <th>#</th>
                                <th>First Name</th>
                                <th>Mobile</th>
                                <th>Permissions</th>
                                <th>Status</th>
                                <th>Action</th>
                                {#                            <th>Action</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in user_list %}
                                <tr>
                                    <th class="txt-oflo">{{ forloop.counter}}</th>
                                    <td class="txt-oflo">{{ obj.user.first_name }}</td>
                                    <td class="txt-oflo">{{ obj.user.username }}</td>
                                    <td class="txt-oflo">
                                        {% if obj.is_category_access %} Category, {% endif %}  {% if obj.is_sub_category_access %} Sub-Category, {% endif %}
                                        {% if obj.is_user_access %} User, {% endif %}
                                        {% if obj.is_vendor_access %} Partner, {% endif %}  {% if obj.is_executive_access %} Driver, {% endif %}
                                        {% if obj.is_option_access %} Option, {% endif %}
                                        {% if obj.is_order_access %} Order {% endif %}
{#                                        {% if obj.is_admin_user_access %} Admin Users {% endif %}#}
                                        {#                                        <a href="#" data-toggle="tooltip" data-html="true" title="#}
                                        {#                                                                          Category access : {% if obj.is_category_access %}Yes {% else %}No{% endif %}<br>#}
                                        {#                                                                          Sub Category access : {% if obj.is_sub_category_access %}Yes {% else %}No{% endif %}#}
                                        {#                                    "><i class="fas fa-info"></i></a>#}
                                    </td>
                                    <td class="txt-oflo"><a href="#!">{% if obj.user.isMobileVerified %} Active {% else %} Inactive {% endif %}</a></td>
                                    <td class="txt-oflo">
                                        <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="#!" onclick="edit_user({{ obj.id }})"><i class="fas fa fa-pencil-alt"></i></a>
                                    <td>
                                        {##}
                                        {#</td>#}

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user_list.has_other_pages %}
        <ul class="pagination float-right" style="margin-bottom: 6%">
            {% if user_list.has_previous %}
                <li class="margin-top" ><a href="?page={{ user_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&laquo;</span></li>
            {% endif %}
            {% for i in user_list.paginator.page_range %}
                {% if user_list.number == i %}
                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if user_list.has_next %}
                <li class="margin-top" ><a href="?page={{ user_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}



    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="add_admin_modal" tabindex="-1" role="dialog" aria-labelledby="add_admin_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_admin_modalLabel">Add Admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="first_name">Name</label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" value="" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="username">Mobile</label>
                                    <input type="number" class="form-control" name="username" id="username" value="" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="username">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" value="" required>
                                </div>
                            </div>
{#                            <div class="col-lg-12 col-md-12">#}
{#                                <div class="form-group">#}
{#                                    <label class="mr-sm-2" for="username">Confirm Password</label>#}
{#                                    <input type="password" class="form-control" name="password" id="confirm_password" value="" required>#}
{#                                </div>#}
{#                            </div>#}

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="category" name="category">
                                    <label class="form-check-label" for="category">
                                        Category
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="sub_category" name="sub_category">
                                    <label class="form-check-label" for="sub_category">
                                        Sub Category
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="user" name="user">
                                    <label class="form-check-label" for="user">
                                        Users
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="vendor" name="vendor">
                                    <label class="form-check-label" for="vendor">
                                        Partners
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="driver" name="driver">
                                    <label class="form-check-label" for="driver">
                                        Drivers
                                    </label>
                                </div>
                            </div>
{#                            <div class="col-lg-4 col-md-4">#}
{#                                <div class="form-check">#}
{#                                    <input class="form-check-input" type="checkbox" value="" id="option" name="option">#}
{#                                    <label class="form-check-label" for="option">#}
{#                                        Settings#}
{#                                    </label>#}
{#                                </div>#}
{#                            </div>#}

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="order" name="order">
                                    <label class="form-check-label" for="order">
                                        Orders
                                    </label>
                                </div>
                            </div>
                        </div>
{#                        <div class="row">#}
{#                            <div class="col-lg-4 col-md-4">#}
{#                                <div class="form-check">#}
{#                                    <input class="form-check-input" type="checkbox" value="" id="admin_access" name="admin_access">#}
{#                                    <label class="form-check-label" for="admin_access">#}
{#                                        Admin User#}
{#                                    </label>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="add" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="edit_admin_modal" tabindex="-1" role="dialog" aria-labelledby="add_admin_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_admin_modalLabel">Edit Admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="" id="edit_id" name="edit_id">

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_first_name">Name</label>
                                    <input type="text" class="form-control" name="first_name" id="edit_first_name" value="" required>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 p-0">
                                <div class="form-group">
                                    <label class=form-control" for="user_status">User Status</label>
                                    <select class="custom-select" name="user_status" id="user_status" required>

                                    </select>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="edit_category" name="category">
                                    <label class="form-check-label" for="edit_category">
                                        Category
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="edit_sub_category" name="sub_category">
                                    <label class="form-check-label" for="edit_sub_category">
                                        Sub Category
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="edit_user" name="user">
                                    <label class="form-check-label" for="edit_user">
                                        Users
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="edit_vendor" name="vendor">
                                    <label class="form-check-label" for="edit_vendor">
                                        Partners
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="edit_driver" name="driver">
                                    <label class="form-check-label" for="edit_driver">
                                        Drivers
                                    </label>
                                </div>
                            </div>
{#                            <div class="col-lg-4 col-md-4">#}
{#                                <div class="form-check">#}
{#                                    <input class="form-check-input" type="checkbox" value="" id="edit_option" name="option">#}
{#                                    <label class="form-check-label" for="edit_option">#}
{#                                        Options#}
{#                                    </label>#}
{#                                </div>#}
{#                            </div>#}

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="edit_order" name="order">
                                    <label class="form-check-label" for="edit_order">
                                        Orders
                                    </label>
                                </div>
                            </div>
                        </div>
{#                        <div class="row">#}
{#                            <div class="col-lg-4 col-md-4">#}
{#                                <div class="form-check">#}
{#                                    <input class="form-check-input" type="checkbox" value="" id="edit_admin_access" name="admin_access">#}
{#                                    <label class="form-check-label" for="edit_admin_access">#}
{#                                        Admin User#}
{#                                    </label>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="edit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <script>
        function edit_user(id) {
            $.ajax({
                url: '/user/edit_admin_user/',
                method: "GET",
                data: {'user_id': id},
                success: function (res) {
                    $('#edit_id').val(res.res_json.id);
                    $('#edit_first_name').val(res.res_json.first_name);
                    $( '#edit_category' ).attr( 'checked', res.res_json.is_category_access );
                    $( '#edit_sub_category' ).attr( 'checked', res.res_json.is_sub_category_access );
                    $( '#edit_vendor' ).attr( 'checked', res.res_json.is_vendor_access );
                    $( '#edit_user' ).attr( 'checked', res.res_json.is_user_access );
                    $( '#edit_driver' ).attr( 'checked', res.res_json.is_executive_access );
                    $( '#edit_option' ).attr( 'checked', res.res_json.is_option_access );
                    $( '#edit_order' ).attr( 'checked', res.res_json.is_order_access );
                    $( '#edit_admin_access' ).attr( 'checked', res.res_json.is_admin_user_access );

                    var html = '';
                    if(res.res_json.is_user_status){
                          html += '<option selected value="True">Active</option>'+
                                        '<option value="False">Inactive</option>';
                    }
                    else {
                         html += '<option value="True">Active</option>'+
                                        '<option selected value="False">Inactive</option>';
                    }

                    $('#user_status').html('');
                    $('#user_status').append(html);
                    $('#edit_admin_modal').modal('show');
                }
            });


        }

{#        function email_ckeck(){#}
{#            var keyword = document.getElementById('username').value;#}
{#            $.ajax({#}
{#                url: '/user/user_exists/',#}
{#                method: "GET",#}
{#                data: {'keyword': keyword},#}
{#                success: function (res) {#}
                    {#                     console.log(res);#}
{#                    if(res.is_exists === true){#}
{#                        document.getElementById('username').value = '';#}
{#                        document.getElementById('username').style.borderColor = 'red';#}
{#                        alert('This Mobile is already Exist');#}
{#                    }#}
{##}
{#                }#}
{#            });#}
{#        }#}

{#        function password_ckeck(){#}
{#            var password = document.getElementById('password').value;#}
{#            var confirm_password = document.getElementById('confirm_password').value;#}
{#           if (password != confirm_password){#}
{#               alert('Passwo');#}
{#           }#}
{#        }#}

    </script>

{% endblock %}
{% block js %}

{% endblock %}
