<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <title>Home</title>
    <link type="text/css" href="{% static 'css/base.css' %}"  rel="stylesheet"/>
    {% block meta %}
    {% endblock %}
    <!-- chartist CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--c3 CSS -->



</head>

<body style="background-color: #F8F8F8; width: 100%">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<div id="main-wrapper">
    <input type="hidden" name="company_id" id="company_id" value="{{ company_id }}">

    <div class="row">
        <div class="col-lg-2"  style="padding-right: 0">
            <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link" href="/">
                <img style="margin-left: 5px" class="image_logo" src="/static/img/logo-with-title.png">
                </a>

            </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/category_list/"><i class="fas fa-color fa fa-th-large"></i> Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/category/sub_category_list/"><i class="fas fa-color fa fa-th-list"></i> Sub Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/user_list/"><i class="fas fa-color fa fa-users"></i> Users</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/user/vendor_list/"><i class="fas fa-color fa fa-user"></i> Vendors</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/user/executive_list/"><i class="fas fa-color fa fa-bicycle"></i> Executives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-color fa fa-book"></i> Orders</a>
                </li>
            </ul>

        </div>
        <div class="col-lg-10" style="padding-left: 0; height: 100vh; overflow: scroll">
        <header>
    <a class="nav-link float-right" style="color: black; margin-top: 1%;" href="/logout/">Logout</a>
</header>
            <div class="page-wrapper">

                <div class="page-content container-fluid">
                <br>
                    {% block main_content %}

                    {% endblock %}
                </div>
            </div>

        </div>
    </div>


    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->



{% block js %}
{% endblock %}
<script>
    $(document).ready(function(){

//        $("input, select, textarea").attr("autocomplete", "shivam");
//        $('.mydatepicker').datepicker({
//            format: 'dd/mm/yyyy',
//            todayHighlight: true,
//            autoclose:true
//        });
//
//
//        var d = new Date().toLocaleTimeString();
//
//
//
//        $('.mytimepicker').timepicker({
//
//            defaultTime: d ,
//            format: 'HH:mm',
//            disableFocus: true,
//
//            disableMousewheel: false,
//            isOpen: false,
//            minuteStep: 15,
//            modalBackdrop: false,
//            orientation: { x: 'auto', y: 'auto'},
//            secondStep: 15,
//            snapToStep: false,
//            showSeconds: false,
//            showInputs: true,
//            showMeridian: false,
//            template: 'dropdown',
//            appendWidgetTo: 'body',
//            showWidgetOnAddonClick: true,
//            icons: {
//                up: 'fas fa-chevron-up',
//                down: 'fas fa-chevron-down',
//                clear: 'far fa-trash',
//                close: 'far fa-times'
//            },
//            maxHours: 24,
//            explicitMode: false
//        });
    });


</script>
</body>
</html>
