{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#  <meta name="description" content="">#}
    {#  <meta name="author" content="">#}


    <title>Meats4all - Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo-with-title.png">

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <style>
        .bg-info{
            background-color: #4e73df!important;
            color: white!important;
        }
        .display-flex{
            display: flex;

        }
        .card{
            width: 100%;
            overflow-x: scroll!important;
        }
        .backgound-table-color{
            background-color: red!important;
        }
        .btn-primary{
            background-color: red!important;
            border-color: red;
        }
        .sidebar{
            background-image: none;
        }
        .sidebar .nav-item{
            background-color: #000000;
        }
        .sidebar .nav-item .nav-link span{
            color: rgb(255, 255, 255);
        }
        .sidebar-dark .nav-item .nav-link i, .sidebar .sidebar-brand .sidebar-brand-text{
            color: rgb(255, 255, 255);
        }
        .sidebar-dark .nav-item.active .nav-link i{
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255)!important;
        }
        .topbar{
            background-color: red!important;
        }
        .text-gray-600{
            color: white!important;
        }

        .dashboard{
            width: Calc(100%/5 - 5px);
            margin-left: 2px;
        }
        .active span{
           
            color: rgb(0, 0, 0) !important;
                }
        .active {
            background-color: rgb(255, 255, 255)!important;
            color: rgb(0, 0, 0) !important;
                }


    </style>

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            position: absolute;
            top: 30%;
            left: 45%;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>

<body id="page-top" style="background-color: #000000">
<div class="preloader" style="position:absolute; height: 100%; width:100%; z-index: 1000; background: transparent; border: solid white;" >
   <div class="loader"></div>
</div>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar" style="background-color: #000000; border-right: solid white; ">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home/">
            <div class="sidebar-brand-icon">
                {#          <i class="fas fa-laugh-wink"></i>#}
                <img height="100"  width="110" src="/static/img/logo-with-title.png">
            </div>
            {#            <div class="sidebar-brand-text mx-4">Meats4all</div>#}
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        {% if request.user.username == 'admin' %}
            <li class="nav-item {% if tab == 1 %}active {% endif %} ">
                <a class="nav-link" href="/home/?tab=1">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Live Dashboard</span></a>
            </li>
        {% endif %}


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        {% if request.user.adminuserdata_set.first.is_category_access %}
            <li class="nav-item {% if tab == 2 %}active {% endif %}">
                <a class="nav-link" href="/category/category_list/?tab=2">
                    <i class="fas fa-color fa fa-th-large"></i>
                    <span>Categories</span></a>
            </li>
        {% endif %}

        <!-- Nav Item - Tables -->
        {% if request.user.adminuserdata_set.first.is_sub_category_access %}
            <li class="nav-item {% if tab == 3 %}active {% endif %}">
                <a class="nav-link" href="/category/sub_category_list/?tab=3">
                    <i class="fas fa-color fa fa-th-list"></i>
                    <span>Sub-Categories</span></a>
            </li>
        {% endif %}

        <!-- Nav Item - Tables -->
        {% if request.user.adminuserdata_set.first.is_user_access %}
            <li class="nav-item {% if tab == 4 %}active {% endif %}">
                <a class="nav-link" href="/user/user_list/?tab=4">
                    <i class="fas fa-color fa fa-users"></i>
                    <span>Users</span></a>
            </li>
        {% endif %}


        <!-- Nav Item - Tables -->
        {% if request.user.adminuserdata_set.first.is_vendor_access %}
            <li class="nav-item {% if tab == 5 %}active {% endif %}">
                <a class="nav-link" href="/user/vendor_list/?tab=5">
                    <i class="fas fa-color fa fa-users"></i>
                    <span>Vendor Partners</span></a>
            </li>
        {% endif %}

        {% if request.user.adminuserdata_set.first.is_executive_access %}
            <li class="nav-item {% if tab == 6 %}active {% endif %}">
                <a class="nav-link" href="/user/executive_list/?tab=6">
                    <i class="fas fa-color fa fa-bicycle"></i>
                    <span>Driver Partners</span></a>
            </li>
        {% endif %}

        {#     {% if request.user.adminuserdata_set.first.is_option_access %}#}
        {#        <li class="nav-item">#}
        {#            <a class="nav-link" href="/user/option_list/">#}
        {#                <i class="fas fa-color fa fa-user"></i>#}
        {#                <span>Options</span></a>#}
        {#        </li>#}
        {#    {% endif %}#}

        {% if request.user.adminuserdata_set.first.is_order_access %}
            <li class="nav-item {% if tab == 7 %}active {% endif %}">
                <a class="nav-link" href="/category/order_list/?tab=7">
                    <i class="fas fa-color fa fa-folder-open"></i>
                    <span>Order Dashboard</span></a>
            </li>
        {% endif %}

        {% if request.user.adminuserdata_set.first.is_admin_user_access %}
            <li class="nav-item {% if tab == 8 %}active {% endif %}">
                <a class="nav-link" href="/user/admin_user_list/?tab=8">
                    <i class="fas fa-color fa fa-user-alt"></i>
                    <span>Admin Users</span></a>
            </li>
        {% endif %}
        {% if request.user.adminuserdata_set.first.is_admin_user_access %}
        <li class="nav-item {% if tab == 10 %}active {% endif %}">
            <a class="nav-link" href="/category/payout_list/?tab=10">
                <i class="fas fa-color fa fa-book"></i>
                <span>Payout History</span></a>
        </li>
    {% endif %}
        {% if request.user.adminuserdata_set.first.is_option_access %}
            <li class="nav-item {% if tab == 9 %}active {% endif %}">
                <a class="nav-link" href="/settings/?tab=9">
                    <i class="fas fa-color fa fa-wrench"></i>
                    <span>Settings</span></a>
            </li>
        {% endif %}


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline" >
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" style="background-color: #000000">

            <!-- Topbar -->

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>



                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user }}</span>
                            {#                            <img style="margin-top: -4px" class="img-profile rounded-circle" src="/static/img/logo-with-title.png">#}
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                            {#                <a class="dropdown-item" href="#">#}
                            {#                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>#}
                            {#                  Settings#}
                            {#                </a>#}

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/admin_change_password/">
                                <i class="fas fa-pencil-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Change Password
                            </a>
                            <a class="dropdown-item" href="/logout/">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" style="height: 81vh; overflow-y: scroll; overflow-x: scroll">

                {% block main_content %}

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Live Dashboard</h1>
                        {#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
                    </div>
                    {#<h4>DASHBOARD</h4>#}
                    <!-- Content Row -->
                    <div class="row" id="dashboard_card">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="dashboard mb-4 pl-2">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">  <a href="/category/category_list/?tab=2">Total Category</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_category }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="dashboard mb-4 overflow-hidden" >
                            <div class="card border-left-success shadow h-100 py-2" >
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center ">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><a href="/category/sub_category_list/?tab=3">Total Sub-Category</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_sub_category }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dashboard mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><a href="/user/user_list/?tab=4">Total Users</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_user }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="dashboard mb-4">
                            <div class="card border-left-cyan shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><a href="/user/vendor_list/?tab=5">Total Vendor Partners</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_vendor }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard mb-4 pr-1">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><a href="/user/executive_list/?tab=6">Total Driver</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_driver }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard mb-4 pl-2">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">  <a>Meats4All Stripe Balance </a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">£ {{ stripe_balance }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><a href="/category/sub_category_list/?tab=3">Total Vendor Payout Due</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">£{{ total_payout_due }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><a href="/user/user_list/?tab=4">Total Driver Payout Due</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">£{{ total_driver_payout_due }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Orders</h4>
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="/category/order_list/?tab=7">Total Orders</a></div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_orders }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">In-Progress Order</div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ in_progress_orders }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Complete Orders</div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ complete_orders }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Order</div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pending_orders }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Earning</h4>
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Today's Earning</div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">£ {{ total_earning }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Monthly Earning</div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">£ {{ monthly_earning }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Annual Earning</div>

                                        </div>
                                        <div class="col-auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">£ {{ annual_earning }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

{#                        <!-- Pending Requests Card Example -->#}
{#                        <div class="col-xl-3 col-md-6 mb-4">#}
{#                            <div class="card border-left-warning shadow h-100 py-2">#}
{#                                <div class="card-body">#}
{#                                    <div class="row no-gutters align-items-center">#}
{#                                        <div class="col mr-2">#}
{#                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Payment Pending</div>#}
{##}
{#                                        </div>#}
{#                                        <div class="col-auto">#}
{#                                            <div class="h5 mb-0 font-weight-bold text-gray-800">£ {{ pending_orders }}</div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <!-- Content Row -->
                {% endblock %}


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <!-- Footer -->
        <footer class="sticky-footer" style="background-color: #000000">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Meats4All 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/demo/chart-area-demo.js"></script>
<script src="/static/js/demo/chart-pie-demo.js"></script>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script>
    $(document).ready(function () {
                $('.preloader').hide();
    })

</script>
{% block js %}

{% endblock %}

</body>

</html>
