{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}

{% block main_content %}
    <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4>Categories</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <button class="btn btn-rounded btn-primary btn-sm waves-effect float-right" data-toggle="modal" data-target="#add_category_modal">
                Add Category
            </button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                        <table id="zero_config" class="table text-muted mb-0 no-wrap recent-table font-light">
                            <thead>
                            <tr class="text-uppercase">
                                <th>#</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in category_list %}
                                <tr>
                                    <th class="txt-oflo">{{ forloop.counter}}</th>
                                    <td class="txt-oflo">{{ obj.name }}</td>
                                    <td class="txt-oflo">

                                        {% if obj.image == '' %}
                                            <a target="_blank" href="{{ base_image_url }}/static/img/avatar.png"> <img src="/static/img/avatar.png" style="height: 30px;"></a>
                                        {% else %}
                                            <a target="_blank" href="{{ obj.image }}"><img src="{{ obj.image }}" style="height: 30px"> </a>
                                        {% endif %}

                                    </td>

                                    <td class="txt-oflo">
                                        <input type="checkbox" onchange="change_status(this, {{ obj.id }})" name="status" {% if obj.is_active %} checked {% endif %} data-toggle="toggle" data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger">

                                    </td>
                                    <td>
                                        <a class="btn btn-rounded btn-outline-success btn-sm waves-effect" href="#!" onclick="edit_category({{ obj.id }}, '{{ obj.name }}')"><i class="fas fa fa-pencil-alt"></i></a>
                                        <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="#!" onclick="delete_category({{ obj.id }})"><i class="fas fa fa-trash"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if category_list.has_other_pages %}
        <ul class="pagination float-right" style="margin-bottom: 6%">
            {% if category_list.has_previous %}
                <li class="margin-top" ><a href="?page={{ category_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&laquo;</span></li>
            {% endif %}
            {% for i in category_list.paginator.page_range %}
                {% if category_list.number == i %}
                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if category_list.has_next %}
                <li class="margin-top" ><a href="?page={{ category_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}



    <form method="post">
        {% csrf_token %}
        <div class="modal fade" id="delete_category_modal" tabindex="-1" role="dialog" aria-labelledby="delete_category_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete_category_modalLabel">Delete Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are You Sure you want to Delete Category?</p>
                        <input type="hidden" id="delete_category_id" value="" name="category_id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" name="delete" class="btn btn-danger">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="add_category_modal" tabindex="-1" role="dialog" aria-labelledby="add_category_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_category_modalLabel">Add Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" value="" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="image">Image</label>
                                    <input type="file" class="form-control" name="image" id="image" value="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="add" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="edit_category_modal" tabindex="-1" role="dialog" aria-labelledby="edit_category_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit_category_modalLabel">Edit Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="edit_category_id" value="" name="category_id">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_name">Name</label>
                                    <input type="text" class="form-control" name="name" id="edit_name" value="" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="image">Image</label>
                                    <input type="file" class="form-control" name="image" id="edit_image" value="" required>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="edit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <script>
        function delete_category(category_id) {
            $('#delete_category_id').val(category_id);
            $('#delete_category_modal').modal('show');
        }

        function edit_category(category_id, name) {
            $('#edit_category_id').val(category_id);
            $('#edit_name').val(name);
            $('#edit_category_modal').modal('show');
        }

        function change_status($this, id) {
            var status = $($this).is(':checked');
            $.ajax({
                url: '/user/change_category_status/',
                method: "POST",
                data: {'id': id, 'status': status},
                success: function (res) {

                }
            });
        }
    </script>
{% endblock %}
{% block js %}
{% endblock %}