{% extends 'base.html' %}
{% load static %}
{% block bredcum %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase mb-0">Change Password</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            {#                        <button class="btn btn-danger text-white float-right ml-3 d-none d-md-block">Buy Ample Admin</button>#}
            <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                <ol class="breadcrumb mb-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/home/">Home</a></li>
                    <li class="breadcrumb-item"><a href="">Change Password</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <style>
    .red-color{
        background-color: red;
        color: white;
    }
    </style>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3">

        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card width-100">
                <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                    <h5 class="card-title white-text mb-0 text-uppercase">Change Password</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label" for="old_password">Old Password</label>
                                <input type="password" class="form-control" id="old_password" name="old_password" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label" for="new_password">New Password</label>
                                <input type="password" class="form-control" id="new_password" name="new_password" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label" for="confirm_password">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="red-color">{{ errors }}</p>
                        </div>
                        <div class="row">
                            <div class="width-100 mr-2 mt-3" style="text-align: center; width: 100%">
                                <button class="btn backgound-table-color btn-rounded" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>


{% endblock %}