<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
  <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <![endif]-->
  <style>
    table, td, div, h1, p {font-family: Monseratt, Caliberi;}
	
  </style>
  <style>
.fa {
  padding: 10px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

  </style>
</head>
<body style="display: block; margin: 0 auto; clear: both; max-width: 600px;">
  <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
    <tr>
      <td align="center" style="padding:0">
        <table role="presentation" style="width: ;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
		
          <tr>
            <td align="center" style="padding: 5px 15px 5px 05px;background:#000000;">
				<img src="https://admin.meats4all.co.uk/static/img/logo-with-title.png" alt="Load Images" width="60" height="60" align="right" padding-top="50px">
				<h1 style="font-size:14px;margin:20px 20px 5px 20px; color:#FFFF; text-align:left; top:10px">Order {{order_obj.custom_id}} Delivered Successfully</h1>
            </td>
          </tr>
		
          <tr>
            <td style="padding:5px 5px 5px 5px;">
              <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                <tr>
                  <td style="padding:0 0 05px 0;color:#153643;">
                    <h1 style="font-size:10px;margin:0 0 5px 0;font-weight:50;">Dear {{order_obj.user.first_name}},</h1>
                    <h1 style="margin:0 0 0px 0;font-weight:50;font-size:10px;line-height:20px;">Thank you for placing your OrderID:'{{order_obj.custom_id}}' with Meats4all.</h1>
                    <h1 style="margin:0 0 0px 0;font-weight:50;font-size:10px;line-height:15px;">We hope all your ordered items have been delivered as per your required specification.<br>If there is any issue with your order or any missed items. Please contact Vendor - "{{order_obj.vendor.shop_name}}" on contact number : "{{order_obj.vendor.mobile2}}"</h1>                                       
                  </td>
                </tr>
                <tr>
                  <td style="padding:0;">
				  <table role="presentation" style="border:0;border-spacing:0; font-size:10px;">
						  <tr>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Name</th>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Quantity</th>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Price</th>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Unit</th>
						  </tr>
						{% for obj in order_services_list %}
						  <tr>
							<td style="border:1px solid black;">{{ obj.service.sub_category.name }}</td>
							<td style="border:1px solid black;">{{ obj.quantity }}</td>
							<td style="border:1px solid black;">£ {{ obj.price }}</td>
							<td style="border:1px solid black;">{{ obj.unit }}</td>
						  </tr>
						{% endfor %}  
						  <tr>
							<td style="border:1px solid black; font-weight:bold;">Sub Total</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black; font-weight:bold;">£ {{ order_obj.total }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>
						  <tr>
							<td style="border:1px solid black;">Packing Charge</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black;">£ {{ order_obj.packing_charge }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>
						  <tr>
							<td style="border:1px solid black;">Delivery Charge</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black;">£ {{ order_obj.mile_charge }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>
						  <tr>
							<td style="border:1px solid black;">Discount (-)</td>
							<td style="border:1px solid black;"></td>
							<td style="border:1px solid black;">£ {{ order_obj.discount }}</td>
							<td style="border:1px solid black;"></td>
						  </tr>							  
						  <tfoot>
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">Total Bill</th>						  
							<th style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;"></th>						  
							<td style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;">£ {{ order_obj.total_bill }}</td>						  
							<td style="border:1px solid black; color:#FFFF; background-color:black; text-align:center;"></td>						  
						  </tfoot>	
				  </table>
				  <h1 style="margin:0 0 0px 0;font-weight:50;font-size:10px;line-height:15px; color:#FF0000;"><br> <b>We look forward to your next order and thank you for shopping with us.</b></h1>
				  <h1 style="margin:0 0 0px 0;font-weight:50;font-size:10px;line-height:15px;"> <br>Kind Regards</h1>
				  <h1 style="margin:0 0 0px 0;font-weight:50;font-size:10px;line-height:15px;"> Meats4All Team</h1>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
		  <tr>
			<link rel="stylesheet" href="">
			
            <td align="left" style="padding: 10px 5px 5px 5px;background:#000000;">
				<h1 style="font-size:14px;margin:5px 0px 15px 0px; color:#FFFF; text-align:center; top:10px">Delicious Meats Delivered Fresh to your doorstep</h1>

				<a href="https://www.facebook.com/Meats4All-109484181306113"> <img src="https://admin.meats4all.co.uk/static/img/fb.png" class="fa fa-facebook" style ="padding: 0px; width: 22px; align: left; text-decoration: none; margin: 0px 0px; border-radius: 50%;"></a>
				<a href="https://www.instagram.com/meats4all/"> <img src="https://admin.meats4all.co.uk/static/img/instagram.png" class="fa fa-instagram" style ="padding: 0px; width: 22px; align: left; text-decoration: none; margin: 0px 0px; border-radius: 50%;"></a>
				<a href="https://twitter.com/meats4all"> <img src="https://admin.meats4all.co.uk/static/img/twitter.png" class="fa fa-twitter" style ="padding: 0px; width: 22px; align: left; text-decoration: none; margin: 0px 0px; border-radius: 50%;"></a>
				<a href="https://www.youtube.com/channel/UCXGH9XjXSl-7JTykJlY3-Bg"> <img src="https://admin.meats4all.co.uk/static/img/youtube.png" class="fa fa-youtube" style ="padding: 0px; width: 22px; align: left; text-decoration: none; margin: 0px 0px; border-radius: 50%;"></a>
				<a href="https://www.linkedin.com/company/meats4all"> <img src="https://admin.meats4all.co.uk/static/img/linkedin.png" class="fa fa-linkedin" style ="padding: 0px; width: 22px; align: left; text-decoration: none; margin: 0px 0px; border-radius: 50%;"></a>
				
				<a href="https://play.google.com/store/apps/details?id=com.mkaglobal.meats4all"> <img src="https://admin.meats4all.co.uk/static/img/playstore_button.png" alt="Girl in a jacket" width="80px" height="25px" align="right" style="padding:0px 0px 0px 0px;border:none;font-size:9px;display:table-cell;margin-right:5px""> </a>
				<a href="https://apps.apple.com/us/app/meats4all/id1567429303"> <img src="https://admin.meats4all.co.uk/static/img/appstore_button.png" alt="Girl in a jacket" width="80px" height="25px" align="right" style="padding:0px 0px 0px 0px;border:none;font-size:9px;display:table-cell;margin-right:5px""> </a>
			</td>
			
          </tr> 
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>