{% extends 'login_base.html' %}
{% load static %}
    {% block body_content %}
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background-color: #f6f6f6;">
        {% if not success %}
            <div class="auth-box login-div-user forgot-password-div" style="padding: 30px">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img class="mb-3" src="{% static 'img/logo-with-title.png' %}" width="50%" alt="logo" /></span>
                        {#                        <h5 class="font-medium mb-3">Sign In to Admin</h5>#}
                    </div>
                    <!-- Form -->
                    <form method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input class="form-control form-control-lg" name="email" type="email" required="" placeholder="Email">
                                    </div>
                                </div>
                                <!-- pwd -->
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <button type="submit"  class="btn btn-block btn-lg btn-danger">Reset</button>
                                    </div>
                                    {#                            <a href="/" class="text-info ml-1" style="float: left">Login</a>#}
                                </div>
                                <br>
                                <div class="form-group mb-0">
                                    <div class="col-sm-12 text-center">
                                        Click here to login? <a href="/user/login/" class="text-info ml-1"><b>Login</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}