{% extends 'login_base.html' %}
{% load static %}
    {% block body_content %}
{#        <div class="card">#}
{#        <div class="card-body">#}

<br>
<br>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
            <div class="auth-box" style="margin-top:3%!important;margin-bottom:3%!important; width: 25%">
                <div id="loginform" style="text-align: center">
                    <div class="logo">
                        <span><img class="image_logo" src="/static/img/logo-with-title.png" alt="logo" /></span>
                    </div>
                    <br>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal mt-3" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="text" name="username" autofocus required class="form-control" placeholder="Username" aria-label="Mobile" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" name="password" required class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                </div>
                                {% if success == 1 %}
                                <div>
                                     <p class="red-color">Invalid login Credintial</p>
                                </div>
                                {% endif %}
                                <div class="form-group text-center">
                                    <div class="col-xs-12 pb-3">
                                        <input class="btn btn-block btn-primary btn-info" type="submit" value="LOG IN">
                                    </div>
{#                                    <a href="/user/forgot_password/" class="text-info ml-1" style="float: left">Forgot Password</a>#}
                                </div>
{#                                <div class="form-group mb-0 mt-2 ">#}
{#                                    <div class="col-sm-12 text-center ">#}
{#                                        Don't Have account? <a href="/user/signup/" class="text-info ml-1 "><b>Sign Up</b></a>#}
{#                                    </div>#}
{#                                </div>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#          </div>#}
{##}
{#        </div>#}
{% endblock %}


