{% extends 'login_base.html' %}
{% load static %}
    {% block body_content %}
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background-color: #f6f6f6;">
        <div class="card signup-message-div">
            <div class="card-body width-100">
                <br>
                <h3 class="login-text">{{ message }}</h3>
                <br>
                {% if flag %}
                <a  href="/" class="btn btn-primary card-link margin-top">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}