{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}

{% block main_content %}
    <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4>Option</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <button class="btn btn-rounded btn-primary btn-sm waves-effect float-right" data-toggle="modal" data-target="#add_option_modal">
                Create
            </button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                        <table id="zero_config" class="table text-muted mb-0 recent-table font-light">
                            <thead>
                            <tr class="text-uppercase">
                                <th>#</th>
                                <th>Name</th>
                                <th>Upto 3 Miles</th>
                                <th>3.1 to 5 Miles</th>
                                <th>5.1 to 10 Miles</th>
                                <th>10.1 to 30 Miles</th>
                                <th>Supplier Fee</th>
                                <th>Packing Charge</th>
                                <th>VAT</th>
                                <th>Cancallation Charge</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in option_list %}
                                <tr>
                                    <th class="txt-oflo">{{ forloop.counter}}</th>
                                    <td class="txt-oflo"><a href="#!">{{ obj.name }}</a></td>
                                    <td class="txt-oflo"><a href="#!">£ {{ obj.upto_3_mile }}</a></td>
                                    <td class="txt-oflo"><a href="#!">£ {{ obj.from_3to5_mile }}</a></td>
                                    <td class="txt-oflo"><a href="#!">£ {{ obj.from_5to10_mile }}</a></td>
                                    <td class="txt-oflo"><a href="#!">£ {{ obj.from_10to30_mile }}</a></td>
                                    <td class="txt-oflo"><a href="#!">{{ obj.supplier_fee }} %</a></td>
                                    <td class="txt-oflo"><a href="#!">£ {{ obj.packing_charge }}</a></td>
                                    <td class="txt-oflo"><a href="#!">{{ obj.vat }} %</a></td>
                                    <td class="txt-oflo"><a href="#!">£ {{ obj.cancel_charge }}</a></td>
                                    <td>
                                        <a class="btn btn-rounded btn-outline-success btn-sm waves-effect" href="#!" onclick="edit_option({{ obj.id }}, '{{ obj.name }}', {{ obj.upto_3_mile }}, {{ obj.from_3to5_mile }}, {{ obj.from_5to10_mile }}, {{ obj.from_10to30_mile }}, {{ obj.supplier_fee }}, {{ obj.cancel_charge }}, {{ obj.vat }}, {{ obj.packing_charge }})"><i class="fas fa fa-pencil-alt"></i></a>
                                        {#                                    <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="#!" onclick="delete_category({{ obj.id }})"><i class="fas fa fa-trash"></i></a>#}

                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if option_list.has_other_pages %}
        <ul class="pagination float-right" style="margin-bottom: 6%">
            {% if option_list.has_previous %}
                <li class="margin-top" ><a href="?page={{ option_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&laquo;</span></li>
            {% endif %}
            {% for i in option_list.paginator.page_range %}
                {% if option_list.number == i %}
                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if option_list.has_next %}
                <li class="margin-top" ><a href="?page={{ option_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

    {#       <form method="post">#}
    {#        {% csrf_token %}#}
    {#        <div class="modal fade" id="delete_category_modal" tabindex="-1" role="dialog" aria-labelledby="delete_category_modalLabel" aria-hidden="true">#}
    {#            <div class="modal-dialog" role="document">#}
    {#                <div class="modal-content">#}
    {#                    <div class="modal-header">#}
    {#                        <h5 class="modal-title" id="delete_category_modalLabel">Delete Category</h5>#}
    {#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                            <span aria-hidden="true">&times;</span>#}
    {#                        </button>#}
    {#                    </div>#}
    {#                    <div class="modal-body">#}
    {#                        <p>Are You Sure you want to Delete Category?</p>#}
    {#                        <input type="hidden" id="delete_category_id" value="" name="category_id">#}
    {#                    </div>#}
    {#                    <div class="modal-footer">#}
    {#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>#}
    {#                        <button type="submit" name="delete" class="btn btn-danger">Yes</button>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </form>#}


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="add_option_modal" tabindex="-1" role="dialog" aria-labelledby="add_option_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_option_modalLabel">Create Option</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="upto_3_mile">Upto 3 Miles</label>
                                    <input type="number" class="form-control" name="upto_3_mile" id="upto_3_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="from_3to5_mile">3.1 To 5 Miles</label>
                                    <input type="number" class="form-control" name="from_3to5_mile" id="from_3to5_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="from_5to10_mile">5.1 To 10 Miles</label>
                                    <input type="number" class="form-control" name="from_5to10_mile" id="from_5to10_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="from_10to30_mile">10.1 To 30 Miles</label>
                                    <input type="number" class="form-control" name="from_10to30_mile" id="from_10to30_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="packing_charge">Packing Charge</label>
                                    <input type="number" class="form-control" name="packing_charge" id="packing_charge" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="supplier_fee">Supplier Charge (%)</label>
                                    <input type="number" class="form-control" name="supplier_fee" id="supplier_fee" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="cancel_charge">Cancallation Charge</label>
                                    <input type="number" class="form-control" name="cancel_charge" id="cancel_charge" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="vat">VAT (%)</label>
                                    <input type="number" class="form-control" name="vat" id="vat" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>

                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="add" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        </div>
    </form>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="edit_option_modal" tabindex="-1" role="dialog" aria-labelledby="edit_option_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit_option_modalLabel">Edit Option</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="edit_option_id" name="edit_option_id" type="hidden" value="">

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_name">Name</label>
                                    <input type="text" class="form-control" name="name" id="edit_name" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_upto_3_mile">Upto 3 Miles</label>
                                    <input type="number" class="form-control" name="upto_3_mile" id="edit_upto_3_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_from_3to5_mile">3.1 To 5 Miles</label>
                                    <input type="number" class="form-control" name="from_3to5_mile" id="edit_from_3to5_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_from_5to10_mile">5.1 To 10 Miles</label>
                                    <input type="number" class="form-control" name="from_5to10_mile" id="edit_from_5to10_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_from_10to30_mile">10.1 To 30 Miles</label>
                                    <input type="number" class="form-control" name="from_10to30_mile" id="edit_from_10to30_mile" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_packing_charge">Packing Charge</label>
                                    <input type="number" class="form-control" name="packing_charge" id="edit_packing_charge" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_supplier_fee">Supplier Charge (%)</label>
                                    <input type="number" class="form-control" name="supplier_fee" id="edit_supplier_fee" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_cancel_charge">Cancallation Charge</label>
                                    <input type="number" class="form-control" name="cancel_charge" id="edit_cancel_charge" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_vat">VAT (%)</label>
                                    <input type="number" class="form-control" name="vat" id="edit_vat" value="" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>

                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="edit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
        </div>
    </form>

    <script>

        function edit_option(option_id, name, upto3, upto5, upto10, upto30, supplier_fee, cancel_charge, vat, packing_charge) {
{#            alert('jijij')#}
            $('#edit_option_id').val(option_id);
            $('#edit_name').val(name);
            $('#edit_upto_3_mile').val(upto3);
            $('#edit_from_3to5_mil').val(upto5);
            $('#edit_from_5to10_mile').val(upto10);
            $('#edit_from_10to30_mile').val(upto30);
            $('#edit_supplier_fee').val(supplier_fee);
            $('#edit_cancel_charge').val(cancel_charge);
            $('#edit_vat').val(vat);
            $('#edit_packing_charge').val(packing_charge);
            $('#edit_option_modal').modal('show');
        }
    </script>
{% endblock %}
{% block js %}
{% endblock %}