{% extends 'base.html' %}
{% load static %}
{% block bredcum %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase mb-0">Change Password</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            {#                        <button class="btn btn-danger text-white float-right ml-3 d-none d-md-block">Buy Ample Admin</button>#}
            <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                <ol class="breadcrumb mb-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/home/">Home</a></li>
                    <li class="breadcrumb-item"><a href="">Settings</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <style>
    .red-color{
        background-color: red;
        color: white;
    }
    </style>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3">

        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card width-100">
                <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                    <h5 class="card-title white-text mb-0 text-uppercase">Settings</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_upto_3_mile">Upto 3 Miles</label>
                                    <input type="number" class="form-control" name="upto_3_mile" id="edit_upto_3_mile" value="{{ obj.upto_3_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>

<!--                                <span>{{obj.driver_charge_upto_3_mile }}</span>-->
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="driver_charge_upto_3_mile">Driver charge for upto 3 Miles</label>
                                    <input type="number" class="form-control" name="driver_charge_upto_3_mile" id="driver_charge_upto_3_mile" value="{{ obj.driver_charge_upto_3_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_from_3to5_mile">3.1 To 5 Miles</label>
                                    <input type="number" class="form-control" name="from_3to5_mile" id="edit_from_3to5_mile" value="{{ obj.from_3to5_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="driver_charge_from_3to5_mile">Driver charge for 3.1 To 5 Miles</label>
                                    <input type="number" class="form-control" name="driver_charge_from_3to5_mile" id="driver_charge_from_3to5_mile" value="{{ obj.driver_charge_from_3to5_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_from_5to10_mile">5.1 To 10 Miles</label>
                                    <input type="number" class="form-control" name="from_5to10_mile" id="edit_from_5to10_mile" value="{{ obj.from_5to10_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="driver_charge_from_5to10_mile">Driver charge for 5.1 To 10 Miles</label>
                                    <input type="number" class="form-control" name="driver_charge_from_5to10_mile" id="driver_charge_from_5to10_mile" value="{{ obj.driver_charge_from_5to10_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="edit_from_10to30_mile">10.1 To 30 Miles</label>
                                    <input type="number" class="form-control" name="from_10to30_mile" id="edit_from_10to30_mile" value="{{ obj.from_10to30_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="driver_charge_from_10to30_mile">Driver charge for 10 To 30 Miles</label>
                                    <input type="number" class="form-control" name="driver_charge_from_10to30_mile" id="driver_charge_from_10to30_mile" value="{{ obj.driver_charge_from_10to30_mile }}" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label" for="packing_charge_per">Services Charge</label>
                                <input value="{{ obj.packing_charge_per }}" type="number" class="form-control" id="packing_charge_per" name="packing_charge_per" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                            </div>
                        </div>
{#                        <div class="col-12">#}
{#                            <div class="form-group">#}
{#                                <label class="control-label col-form-label" for="packing_charge_difference">Services Charge (difference)</label>#}
{#                                <input value="{{ obj.packing_charge_difference }}" type="number" class="form-control" id="packing_charge_difference" name="packing_charge_difference" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">#}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label" for="cancel_charge">Cancellation Charge (%)</label>
                                <input value="{{ obj.cancel_charge }}" type="number" class="form-control" id="cancel_charge" name="cancel_charge" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label" for="distance">Distance</label>
                                <input value="{{ obj.distance }}" type="number" class="form-control" id="distance" name="distance" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label" for="tip_charge">Tips Charge (%)</label>
                                <input value="{{ obj.tip_charge }}" type="number" class="form-control" id="tip_charge" name="tip_charge" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                            </div>
                        </div>

                        <div class="col-12">
                            <p class="red-color">{{ errors }}</p>
                        </div>
                        <div class="row">
                            <div class="width-100 mr-2 mt-3" style="text-align: center; width: 100%">
                                <button class="btn text-white backgound-table-color btn-rounded" type="submit">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>


{% endblock %}