body{
    overflow-x: hidden;
}
.image_logo{
    height: 60px;
}

header {
    height: 80px;
    background-color: White;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.nav{
    background-color: black;
    /*margin-top: 1px;*/
    height: 100vh;
}

.btn-secondary{
      border: none!important;
    border-radius: 10px 10px 10px 10px!important;
}

.nav:active{
  color: red!important;
    background-color: black!important;
}

.nav > li > a{
     background-color: black;
    color: grey;
    font-size: 16px;
    margin-left: 6px;

    /*border-bottom: 1px solid #5e5e5e;*/
    padding: 10px;

}
.fa-color{
    color: red!important;
}
table{
    font-size: 14px;
}


.btn-primary{
    background-color: red!important;
    border: none!important;
    border-radius: 10px 10px 10px 10px!important;
}



label{
    margin: 0!important;
    padding-bottom: 0!important;
}
/*.active {*/
    /*color: red!important;*/
    /*background-color: black!important;*/
/*}*/

.nav >li{
    /*padding: 4px;*/



}

