{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}


{% block main_content %}
    <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4><a href="/category/order_list/"><i class="text-danger fas fa-arrow-alt-circle-left"></i></a> {{ order_obj.custom_id }}</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            {#             <a class="btn btn-rounded btn-primary btn-sm waves-effect float-right" href="/user/add_order/">#}
            {#                Add#}
            {#            </a>#}
        </div>
    </div>

    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row margin-top">
            <div class="col-lg-6 col-md-6 display-flex">
                <div class="card width-100">
                    <div class="d-flex p-3 align-items-center bg-info backgound-table-color">
                        <h5 class="card-title mb-0 text-uppercase">Basic Details</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <table class="table text-muted mb-0 no-wrap recent-table font-light" style="text-align: left!important;">
                                <tbody style="text-align: left!important;">
                                <tr>
                                    <td class="txt-oflo">ID</td>
                                    <td class="txt-oflo bold-font">{{ order_obj.id }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Date</td>
                                    <td class="txt-oflo bold-font">{{ order_obj.created }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">User</td>
                                    <td class="txt-oflo bold-font">{{ order_obj.user.first_name }} {{ order_obj.user.last_name }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Vendor</td>
                                    <td class="txt-oflo bold-font">{{ order_obj.vendor.shop_name }}</td>
                                </tr>
{#                                <tr>#}
{#                                    <td class="txt-oflo">Vendor Amount</td>#}
{#                                    <td class="txt-oflo bold-font">{{ vendor_amount }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td class="txt-oflo">Meat4All Amount</td>#}
{#                                    <td class="txt-oflo bold-font">{{ meat4all_amount }}</td>#}
{#                                </tr>#}
                                <tr>
                                    <td class="txt-oflo">Drop Address</td>
                                    <td class="txt-oflo bold-font">{{ order_obj.drop_address }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Status</td>
                                    <td class="txt-oflo bold-font">{{ order_obj.get_status_display }}</td>
                                </tr>
                                {% if order_obj.status == 6 %}
                                    <tr>
                                        <td class="txt-oflo">Delivery Image</td>
                                        <td class="txt-oflo bold-font">
                                            <a target="_blank" href="{{ base_image_url }}/media/{{ order_obj.delivery_image }}">
                                                <img style="height: 30px" src="{{ base_image_url }}/media/{{ order_obj.delivery_image }}">
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 display-flex">
                <div class="card width-100">
                    <div class="d-flex p-3 align-items-center bg-info backgound-table-color">
                        <h5 class="card-title mb-0 text-uppercase">Services</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <table class="table text-muted mb-0 no-wrap recent-table font-light" style="text-align: left!important;">
                                <tbody style="text-align: left!important;">
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                    <th>Removed</th>
                                </tr>
                                {% for obj in order_obj.orderservices_set.all %}
                                    <tr>
                                        <td class="txt-oflo">{{ obj.service.sub_category.name }}</td>
                                        <td class="txt-oflo bold-font">{{ obj.quantity }}</td>
                                        <td class="txt-oflo bold-font">£ {{ obj.price }}</td>
                                        <td class="txt-oflo bold-font">{{ obj.unit }}</td>
                                        <td class="txt-oflo bold-font">{% if obj.is_removed %} Yes {% else %}No {% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row margin-top">
            <div class="col-lg-6 col-md-6 display-flex">
                <div class="card width-100">
                    <div class="d-flex p-3 align-items-center bg-info backgound-table-color">
                        <h5 class="card-title mb-0 text-uppercase">Invoice</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <table class="table text-muted mb-0 no-wrap recent-table font-light" style="text-align: left!important;">
                                <tbody style="text-align: left!important;">
                                <tr>
                                    <td class="txt-oflo">Sub Total</td>
                                    <td class="txt-oflo">£ {{ order_obj.total }}</td>
                                </tr>

                                <tr>
                                    <td class="txt-oflo">Packing Charge</td>
                                    <td class="txt-oflo">£ {{ order_obj.packing_charge }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Delivery Charge</td>
                                    <td class="txt-oflo">£ {{ order_obj.mile_charge }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Discount (-)</td>
                                    <td class="txt-oflo">£ {{ order_obj.discount }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Total Bill</td>
                                    <td class="txt-oflo">£ {{ order_obj.total_bill }}</td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 display-flex">
                <div class="card width-100">
                    <div class="d-flex p-3 align-items-center bg-info backgound-table-color">
                        <h5 class="card-title mb-0 text-uppercase">Transaction</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <table class="table text-muted mb-0 no-wrap recent-table font-light" style="text-align: left!important;">
                                <tbody style="text-align: left!important;">
                                 <tr>
                                    <td class="txt-oflo">Stripe Payment ID</td>
                                    <td class="txt-oflo">{{ order_obj.stripe_payment_id }}</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Payment Status</td>
                                    <td class="txt-oflo">{{ order_obj.get_payment_status_display }}</td>
                                </tr>

                                <tr>
                                    <td class="txt-oflo">M4A Percentage from Partner</td>
                                    <td class="txt-oflo">£ {{ order_obj.meat4all_amount }} ({{ order_obj.vendor_amount_per }} %)</td>
                                </tr>
                                <tr>
                                    <td class="txt-oflo">Vendor Amount</td>
                                    <td class="txt-oflo">£ {{ order_obj.vendor_amount }}</td>
                                </tr>
                                 <tr>
                                    <td class="txt-oflo">M4A Percentage from Driver</td>
                                    <td class="txt-oflo">£ {{ order_obj.meat4all_driver_amount }} ({{ order_obj.driver_amount_per }} %)</td>
                                </tr>
                                 <tr>
                                    <td class="txt-oflo">Driver Amount</td>
                                    <td class="txt-oflo">£ {{ order_obj.driver_amount }}</td>
                                </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
{% block js %}
{% endblock %}