{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}


{% block main_content %}
 <div class="row form-group">
        <div class="col-lg-12 col-md-4 col-xs-8 align-self-center">
<!--        <h4>Orders</h4>-->
            <h4><a href="/category/order_list/?tab=7"><i class="text-danger fas fa-arrow-alt-circle-left"></i></a> Back To Order Dashboard</h4>
        </div>
 </div>
    <div class="row">
        <div class="col-lg-12 col-md-8 col-xs-12 ">
             <div class="form-group waves-effect">
                  <form method='get' action='/category/search/' class="form-inline col-lg-12">
                      {{ filtered_list.form.as_p }}
                  </form>
             </div>
{#             <a class="btn btn-rounded btn-primary btn-sm waves-effect float-right" href="/user/add_order/">#}
{#                Add#}
{#            </a>#}
        </div>
      </div>


    <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                  <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                       <table  id="table" class="table text-muted mb-0 no-wrap recent-table font-light">
                        <thead>
                        <tr class="text-uppercase">
                            <th>#</th>
                            <th>ID</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Mobile</th>
                            <th>Vendor</th>
                            <th>Total amount</th>
                            <th>Stripe Fee</th>
                            <th>Total amount ordered</th>
                            <th>Vendor%</th>
                            <th>M4A%</th>
                            <th>Delivery Fee</th>
                            <th>Driver Charge</th>
                            <th>Service Fee</th>
                            <th>customer payment</th>
                            <th>Stripe Fee</th>
                            <th>Sub Total-1</th>
                            <th>Service Fee Deducted</th>
                            <th>Delivery charge Deducted</th>
                            <th>Customer transaction value</th>
                            <th>M4A platform fee</th>
                            <th>Sub Total-2</th>
							<th>Stripe Payout Vendor</th>
                            <th>Vendor Payout</th>
                            <th>Delivery charge</th>
                            <th>Stripe Payout Driver</th>
                            <th>Driver payout</th>
                            <th>M4A Platform fee Driver</th>
                            <th>Total M4A Amount</th>
                            <th>Net Value M4A</th>
                            <th>Delivery Image</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in order_list %}
                            <tr style="text-align: center;">
                                <th class="txt-oflo">{{forloop.counter}}</th>
                                <td class="txt-oflo">{{obj.custom_id}}</td>
<!--                                <td class="txt-oflo">{{ obj.created }}</td>-->
                                <td class="txt-oflo">{{obj.order_date}}</td>
                                <td class="txt-oflo">{{obj.user.first_name}} {{ obj.last_name}}</td>
                                <td class="txt-oflo">{{obj.user.username}}</td>
                                <td class="txt-oflo">{{obj.vendor.shop_name}}</td>
                                <td class="total_bill"> {{obj.total_bill }} </td>
                                <td class="skype_amount">{{obj.skype_amount}}</td>
                                <td class="total_ordered"> {{obj.total}}</td>
                                <td class="txt-oflo">{{obj.vendor.meat4all_per}}%</td>
                                <td class="m4a_per">{{obj.meat4all_amount}}</td>
                                <td class="mile_charge">{{obj.mile_charge}}</td>
                                <td class="driver_charge">{{obj.driver_charge}}</td>
                                <td class="packing_charge">{{obj.packing_charge}}</td>
								<td class="customer_payment">{{obj.total_bill}}</td>
                                <td class="skype_amount1">{{obj.skype_amount}}</td>
                                <td class="sub_total_1">{{obj.sub_total_1}}</td>
                                <td class="service_fee_deducted">{{obj.service_fee_deducted}}</td>
                                <td class="delivery_charge_deducted">{{obj.delivery_charge_deducted}}</td>
                                <td class="customer_transaction_value">{{obj.customer_transaction_value}}</td>
                                <td class="meat4all_platform_fee_20_percent">{{obj.meat4all_platform_fee_20_percent}}</td>
                                <td class="sub_total_2">{{obj.sub_total_2}}</td>
                                <td class="stripe_payout_charge">{{obj.stripe_payout_charge_vendor}}</td>
                                <td class="vendor_payout">{{obj.vendor_payout}}</td>
                                <td class="mile_charge1">{{obj.mile_charge}}</td>
                                <td class="stripe_payout_charge_driver">{{obj.stripe_payout_charge_driver}}</td>
                                <td class="driver_payout">{{obj.driver_payout}}</td>
                                <td class="platform_fee_driver">{{obj.platform_fee_driver}}</td>							
                                <td class="total_m4a_amount">{{obj.total_m4a_amount}}</td>
                                <td class="net_value_m4a">{{obj.net_value_m4a}}</td>
                                 <td class="txt-oflo">
                                    {% if obj.delivery_image == None %}
                                         <a target="_blank" href="{{ base_image_url }}/static/img/avatar.png"><img src="/static/img/avatar.png" style="height: 30px;"></a>
                                    {% else %}
                                         <a target="_blank" href="{{ base_image_url }}{{ obj.delivery_image }}"><img src="{{ base_image_url }}{{ obj.delivery_image }}" style="height: 30px;"> </a>
                                    {% endif %}
                                </td>
                                <td class="txt-oflo">{{obj.status.status_text}}</td>
                                <td>
{#   <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="/user/edit_order/{{ obj.id }}/"><i class="fas fa fa-pencil-alt"></i></a>#}
                                    <a class="btn btn-rounded btn-outline-danger btn-sm waves-effect" href="/category/view_order/{{ obj.id }}/?tab=7" ><i class="fas fa fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                     <tfoot style="text-align: center;">
                            <tr style="background-color:black; font-weight: bolder; color:white;">
                                <th colspan="6">############### Meat4All ###############<br>################### Meat4All ###################<br>############### Meat4All ###############</th>
                                <td id="total_bill"></td>
                                <td id="skype_amount"></td>
                                <td id="total_ordered"></td>
                                <td id="total3"></td>
                                <td id="m4a_per"></td>
                                <td id="mile_charge"></td>
                                <td id="driver_charge"></td>
                                <td id="packing_charge"></td>
								<td id="customer_payment"></td>
                                <td id="skype_amount1"></td>
                                <td id="sub_total_1"></td>
                                <td id="service_fee_deducted"></td>
                                <td id="delivery_charge_deducted"></td>
                                <td id="customer_transaction_value"></td>
                                <td id="meat4all_platform_fee_20_percent"></td>
                                <td id="sub_total_2"></td>
                                <td id="stripe_payout_charge"></td>
                                <td id="vendor_payout"></td>
                                <td id="mile_charge1"></td>
                                <td id="stripe_payout_charge_driver"></td>
                                <td id="driver_payout"></td>
                                <td id="platform_fee_driver"></td>
                                <td id="total_m4a_amount"></td>
                                <td id="net_value_m4a"></td>
                                <th colspan="3">###### Meat4All ######<br>######## Meat4All ########<br>###### Meat4All ######</th>
                            </tr>
                        </tfoot>
                    </table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--                        #################### TOTAL AMOUNT ###################-->
<script language="javascript" type="text/javascript">
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'total_bill') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }
    document.getElementById('total_bill').innerHTML = "Total Amount = £" + sum.toFixed(2);
</script>
<!--                        ####################  STRIPE FEE   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'skype_amount') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('skype_amount').innerHTML = "Total Stripe Fee = £" + sum.toFixed(2);
</script>
<!--                     ####################   TOTAL AMOUNT ORDERED   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'total_ordered') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('total_ordered').innerHTML = "Total Ordered = £" + sum.toFixed(2);
</script>
<!--                     ####################   M4A%  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'm4a_per') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('m4a_per').innerHTML = "Total M4A% = £" + sum.toFixed(2);
</script>
<!--                     ####################   DELIVERY FEE  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'mile_charge') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('mile_charge').innerHTML = "Total Delivery Fee = £" + sum.toFixed(2);
</script>
<!--                     ####################   DRIVER CHARGE ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'driver_charge') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('driver_charge').innerHTML = "Total Driver Charge = £" + sum.toFixed(2);
</script>
<!--                     ####################   SERVICE FEE ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'packing_charge') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('packing_charge').innerHTML = "Total Service Fee = £" + sum.toFixed(2);
</script>
<!--                     ####################   CUSTOMER PAYMENT   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'customer_payment') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('customer_payment').innerHTML = "Total customer payment = £" + sum.toFixed(2);
</script>
<!--                     ####################  STRIPE FEE   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'skype_amount1') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('skype_amount1').innerHTML = "Total Stripe Fee = £" + sum.toFixed(2);
</script>
<!--                     ####################  Sub Total-1   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'sub_total_1') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('sub_total_1').innerHTML = "Total Sub Total-1 = £" + sum.toFixed(2);
</script>
<!--                     ####################  Service Fee Deducted   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'service_fee_deducted') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('service_fee_deducted').innerHTML = "Total Service Fee Deducted = £" + sum.toFixed(2);
</script>
<!--                     ####################  Delivery charge Deducted  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'delivery_charge_deducted') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('delivery_charge_deducted').innerHTML = "Total Delivery charge Deducted = £" + sum.toFixed(2);
</script>
<!--                     ####################  Customer transaction value  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'customer_transaction_value') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('customer_transaction_value').innerHTML = "Total Customer transaction value = £" + sum.toFixed(2);
</script>
<!--                     ####################  M4A platform fee  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'meat4all_platform_fee_20_percent') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('meat4all_platform_fee_20_percent').innerHTML = "Total M4A platform fee = £" + sum.toFixed(2);
</script>
<!--                     ####################  Sub Total-2  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'sub_total_2') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('sub_total_2').innerHTML = "Total Sub Total-2 = £" + sum.toFixed(2);
</script>
<!--                     ####################  Stripe Payout Vendor  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'stripe_payout_charge') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('stripe_payout_charge').innerHTML = "Total Stripe Payout Vendor = £" + sum.toFixed(2);
</script>
<!--                     ####################  Vendor Payout  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'vendor_payout') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('vendor_payout').innerHTML = "Total Vendor Payout = £" + sum.toFixed(2);
</script>
<!--                     ####################  Delivery charge  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'mile_charge1') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('mile_charge1').innerHTML = "Total Delivery charge = £" + sum.toFixed(2);
</script>
<!--                     ####################  Stripe Payout Driver  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'stripe_payout_charge_driver') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('stripe_payout_charge_driver').innerHTML = "Total Stripe Payout Driver = £" + sum.toFixed(2);
</script>
<!--                     ####################  Driver payout  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'driver_payout') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('driver_payout').innerHTML = "Total Driver payout = £" + sum.toFixed(2);
</script>
<!--                     ####################  M4A Platform fee Driver  ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'platform_fee_driver') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('platform_fee_driver').innerHTML = "Total M4A Platform fee Driver = £" + sum.toFixed(2);
</script>
<!--                     ####################  TOTAL M4A AMOUNT   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'total_m4a_amount') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('total_m4a_amount').innerHTML = "Total M4A Amount = £" + sum.toFixed(2);
</script>
<!--                     ####################  NET VALUE M4A   ###################-->
<script>
    var tds = document.getElementById('table').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'net_value_m4a') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
            sum.toFixed(4);
        }
    }
    document.getElementById('net_value_m4a').innerHTML = "Total Net Value M4A = £" + sum.toFixed(2);
</script>
                                        </div>
                </div>
            </div>
        </div>
    </div>

    {% if order_list.has_other_pages %}
        <ul class="pagination float-right" style="margin-bottom: 6%">
            {% if order_list.has_previous %}
                <li class="margin-top" ><a href="?page={{ order_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&laquo;</span></li>
            {% endif %}
            {% for i in order_list.paginator.page_range %}
                {% if order_list.number == i %}
                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if order_list.has_next %}
                <li class="margin-top" ><a href="?page={{ order_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
{% block js %}
{% endblock %}
