{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{#{% block css %}#}

{#{% endblock %}#}

{% block bredcum %}
{#    <div class="row">#}
{#        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">#}
{#            <nav aria-label="breadcrumb" class="float-left">#}
{#                <ol class="breadcrumb mb-0 justify-content-end pb-0 bg-light">#}
{#                    <li class="breadcrumb-item"><a href="/home/">Home</a></li>#}
{#                    <li class="breadcrumb-item"><a href="/company/{{ company_id }}/users">Employees</a></li>#}
{#                    <li class="breadcrumb-item active" aria-current="page">Add</li>#}
{#                </ol>#}
{#            </nav>#}
{#        </div>#}
{#        <div class="col-lg-3 col-md-4 col-xs-12  align-self-center">#}
{#        </div>#}
{#    </div>#}

{% endblock %}

{% block main_content %}
    <style>

    </style>

    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="hidden" name="company" value="{{ company_id }}">
        <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-3 display-flex">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 display-flex">

                <div class="card width-100">
                    <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                        <h5 class="card-title white-text mb-0 text-uppercase">Add User</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="first_name">First Name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="last_name">Last Name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="user_type">User Type</label>
                                    <select class="custom-select mr-sm-4" name="user_type" id="user_type" required>
                                        <option value="" selected disabled>Select</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Super Admin</option>
                                        <option value="3">Team Member</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label pt-0" for="username">Email</label>
                                    <input type="email" class="form-control" id="username" name="username" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="emp_id">Employee ID</label>
                                    <input type="text" class="form-control" id="emp_id" name="emp_id" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="default_time">Default Time</label>
                                    <input type="text" class="form-control mytimepicker" id="default_time" name="default_time" value="{{ company_obj.default_time|date:'H:i' }}">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="background-color: #e7e7e7">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="lat">Latitude(home)</label>
                                    <input type="text" class="form-control" id="lat" name="lat">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="long">Longitude(home)</label>
                                    <input type="text" class="form-control" id="long" name="long">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6 col-md-6">
                                <label class="control-label col-form-label" for="image">Profile Picture</label>
                                <input type="file" id="image" name="image" style="border: 1px solid lightgrey; width: 100%;">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12">
                                <label class="control-label col-form-label" for="notes">Notes</label>
                                <textarea id="notes" class="form-control"  name="notes"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12">
                                <label class="container">Only Mark attendance from office
                                    <input type="checkbox" checked="checked" name="is_mark_from_office">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <p class="red-color">{{ user_form.username.errors|striptags }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div style="text-align: center" class="width-100 mr-2 mt-3">
                                <button class="btn backgound-table-color btn-rounded" type="submit">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 display-flex">
            </div>
        </div>
    </form>
{% endblock %}
{% block js %}
{% endblock %}