{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}

{#{% block bredcum %}#}
{#    <div class="row">#}
{#        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">#}
{#            <nav aria-label="breadcrumb" class="float-left">#}
{#                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">#}
{#                    <li class="breadcrumb-item"><a href="/home/">Home</a></li>#}
{#                    <li class="breadcrumb-item"><a href="/company/{{ company_id }}/users">Employees</a></li>#}
{#                    <li class="breadcrumb-item active" aria-current="page">{{ user_obj.user.first_name }}</li>#}
{#                </ol>#}
{#            </nav>#}
{#        </div>#}
{#        <div class="col-lg-3 col-md-4 col-xs-12  align-self-center">#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% block main_content %}
    <style>
        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            border-radius: 50%;
        {#            top: 5px;#}
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #ccc;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2cd07e!important;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 6px;
            top: 5px;
            width: 7px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(40deg);
            -ms-transform: rotate(35deg);
            transform: rotate(40deg);
        }
    </style>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="hidden" name="company" value="{{ company_id }}">
        <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-3 display-flex">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 display-flex">

                <div class="card width-100">
                    <div class="d-flex align-items-center p-3 bg-info backgound-table-color">
                        <h5 class="card-title white-text mb-0 text-uppercase">Edit User</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="first_name">First Name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user_obj.user.first_name }}" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="last_name">Last Name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user_obj.user.last_name }}">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="emp_id">Employee ID</label>
                                    <input type="text" class="form-control" id="emp_id" name="emp_id" value="{{ user_obj.emp_id }}" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="default_time">Default Time</label>
                                    <input type="text" class="form-control mytimepicker" id="default_time" name="default_time" value="{{ user_obj.default_time|date:'H:i' }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="user_type">User Type</label>
                                    <select class="custom-select mr-sm-4" name="user_type" id="user_type" required>
                                        {#                                        <option value="0" selected disabled>Select</option>#}
                                        <option {% if user_obj.user_type == 1 %} selected {% endif %} value="1">Admin</option>
                                        <option {% if user_obj.user_type == 2 %} selected {% endif %} value="2">Super Admin</option>
                                        <option {% if user_obj.user_type == 3 %} selected {% endif %} value="3">Team Member</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="user_status">User Status</label>
                                    <select class="custom-select mr-sm-4" name="user_status" id="user_status" required>
                                        {#                                        <option value="0" selected disabled>Select</option>#}
                                        <option {% if user_obj.user.is_user_active %} selected {% endif %} value="True">Active</option>
                                        <option {% if not user_obj.user.is_user_active %} selected {% endif %} {% if current_user.id == user_obj.user.id %} disabled {% endif %} value="False">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="background-color: #e7e7e7">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="lat">Latitude(home)</label>
                                    <input type="text" class="form-control" id="lat" name="lat" value="{{ user_obj.lat }}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="long">Longitude(home)</label>
                                    <input type="text" class="form-control" id="long" name="long" value="{{ user_obj.long }}" >
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12">
                                <label class="control-label col-form-label" for="notes">Notes</label>
                                <textarea id="notes" class="form-control" name="notes">{{ user_obj.notes }}</textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12">
                                <label class="container">Only Mark attendance from office
                                    <input type="checkbox" name="is_mark_from_office" {% if user_obj.is_mark_from_office %} checked="checked" {% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="username">Email</label>
                                    <input type="text" class="form-control" id="username" name="username" value="{{ user_obj.user.username }}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-form-label" for="image">Profile Picture</label>
                                    <input type="file" id="image" name="image" style="border: 1px solid lightgrey; width: 100%;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div style="text-align: center" class="width-100 mr-2 mt-3">
                                <button class="btn backgound-table-color btn-rounded" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 display-flex">
            </div>
        </div>
    </form>
{% endblock %}
{% block js %}
{% endblock %}