{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}

{% block bredcum %}
{#    <div class="row">#}
{#        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">#}
{#            <nav aria-label="breadcrumb" class="float-left">#}
{#                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">#}
{#                    <li class="breadcrumb-item"><a href="/home/">Home</a></li>#}
{#                    {% if company_user_obj.user_type != 3 %}#}
{#                        <li class="breadcrumb-item"><a href="/company/{{ company_id }}/users">Employees</a></li>#}
{#                    {% endif %}#}
{#                    <li class="breadcrumb-item active" aria-current="page">{{ company_user_obj.user.first_name }}</li>#}
{#                </ol>#}
{#            </nav>#}
{#        </div>#}
{#        <div class="col-lg-3 col-md-4 col-xs-12  align-self-center">#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block main_content %}
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="hidden" name="company" value="{{ company_id }}">
        <div class="row margin-top">
            <div class="col-lg-4 col-md-4 display-flex">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 display-flex">



                {#                <div class="col-lg-3 col-md-6">#}
                <!-- Card -->
                <div class="card width-100">
                    {% if company_user_obj.user.image == '' %}
                        <img class="card-img-top img-responsive" src="/static/img/avatar.png" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top img-responsive" src="{{ base_image_url }}/media/{{ company_user_obj.user.image }}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title m-0">{{ company_user_obj.user.first_name }} {{ company_user_obj.user.last_name }}</h4>
                        <h5 class="card-text m-0 mt-1">Employee ID: {{ company_user_obj.emp_id }}</h5>
                        <h5 class="card-text m-0 mt-1">{{ company_user_obj.user.username }}</h5>
{#                        <a href="#!" class="btn btn-rounded btn-outline-success btn-sm waves-effect" onclick="location_check()">Mark Attendance</a>#}
                        <br>
                        <div style="text-align: center">
                        <a href="/company/{{ company_id }}/mark_attendance?user_id={{ company_user_obj.user.id }}" style="text-align: center" class="btn btn-rounded btn-outline-success btn-sm waves-effect mt-1">Go to Attendance</a>
                    </div>
                    </div>
                </div>

            </div>

        <div class="col-lg-4 col-md-4 display-flex">
        </div>
        </div>
    </form>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            $('#lat').val(position.coords.latitude);
            $('#long').val(position.coords.longitude);
        }


        function location_check() {
            navigator.geolocation.watchPosition(function(position) {
                    window.location.href = '/company/{{ company_id }}/mark_attendance?user_id={{ company_user_obj.user.id }}';
                },
                function(error) {
                    if (error.code == error.PERMISSION_DENIED)
                        window.location.href = '/company/{{ company_id }}/location_error?user_id={{ company_user_obj.user.id }}';
                });
        }
    </script>
{% endblock %}
{% block js %}
{% endblock %}