{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}


{% block main_content %}
<div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
         <h4>Users</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">

        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                                        <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                    <table id="zero_config" class="table text-muted mb-0 no-wrap recent-table font-light">
                        <thead>
                        <tr class="text-uppercase">
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Image</th>
                            <th>Status</th>
{#                            <th>Action</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in user_list %}
                            <tr>
                                <th class="txt-oflo">{{ forloop.counter}}</th>
                                <td class="txt-oflo"><a href="/category/order_list/?id={{ obj.id }}">{{ obj.first_name }}</a></td>
                                <td class="txt-oflo">{{ obj.last_name }}</td>
                                <td class="txt-oflo">{{ obj.email }}</td>
                                <td class="txt-oflo">{{ obj.username }}</td>
                                <td class="txt-oflo">

                                        {% if obj.avatar == '' %}
                                         <a target="_blank" href="{{ base_image_url }}/static/img/avatar.png"><img src="/static/img/avatar.png" style="height: 30px;"></a>
                                        {% else %}
                                         <a target="_blank" href="{{ base_image_url }}/media/{{ obj.avatar }}"><img src="{{ base_image_url }}/media/{{ obj.avatar }}" style="height: 30px;"> </a>
                                        {% endif %}

                                </td>
                                 </td>

                                    <td class="txt-oflo">
                                        <input type="checkbox" onchange="change_user_status(this, {{ obj.id }})" name="status" {% if obj.is_active %} checked {% endif %} data-toggle="toggle" data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger">

                                    </td>
 {#                               <td class="txt-oflo">{% if obj.is_active %} Active {% else %} Inactive {% endif %}</td>#}
{#                                <td>#}
{##}
{#</td>#}

                            </tr>
                        {% endfor %}
                    </table>
                                        </div>
                </div>
            </div>
        </div>
    </div>

    {% if user_list.has_other_pages %}
        <ul class="pagination float-right" style="margin-bottom: 6%">
            {% if user_list.has_previous %}
                <li class="margin-top" ><a href="?page={{ user_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&laquo;</span></li>
            {% endif %}
            {% for i in user_list.paginator.page_range %}
                {% if user_list.number == i %}
                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if user_list.has_next %}
                <li class="margin-top" ><a href="?page={{ user_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled margin-top"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

    <script>

        function change_user_status($this, id) {
            var status = $($this).is(':checked');
            $.ajax({
                url: '/user/change_user_status/',
                method: "POST",
                data: {'id': id, 'status': status},
                success: function (res) {

                }
            });
        }
    </script>
{% endblock %}
{% block js %}
{% endblock %}
