{% extends 'base.html' %}
{% load static %}
{% block meta_block %}
{% endblock %}
{% block css %}

{% endblock %}


{% block main_content %}
    <div class="row form-group">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4>Report</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <button type="button" class="btn btn-rounded btn-primary btn-sm waves-effect float-right" onclick="dowload_report_send('/user/{{ executive_id }}/executive_report_download/')" href="">
                Send Email
            </button>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-sm-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="table-responsive scrollable scrollable" style="overflow: visible!important;">
                        <table id="zero_config" class="table text-muted mb-0 no-wrap recent-table font-light">
                            <thead>
                            <tr class="text-uppercase">
                                <th>ID</th>
                                <th>Date</th>
                                <th>Driver</th>
                                <th>Delivery Charge</th>
                                <th>Driver Amount</th>
                                <th>Meat4all Percentage</th>
                                <th>Meat4all Amount</th>
                                {#                                <th>Status</th>#}
                            </tr>
                            </thead>
                            <tbody>

                            {% for obj in order_list %}
                                <tr>
                                    <td class="txt-oflo">{{ obj.custom_id}}</td>
                                    <td class="txt-oflo">{{ obj.created }}</td>
                                    <td class="txt-oflo">{{ obj.delivery_boy.user.first_name }} {{ obj.delivery_boy.user.last_name }}</td>
                                    <td class="txt-oflo">£ {{ obj.mile_charge }}</td>
                                    <td class="txt-oflo">£ {{ obj.driver_amount }}</td>
                                    <td class="txt-oflo">{{ obj.driver_amount_per }} %</td>
                                    <td class="txt-oflo">{{ obj.meat4all_driver_amount }} %</td>
                                    {#                                    <td class="txt-oflo">{{ obj.status.status_text }}</td>#}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    {% if order_list.has_other_pages %}#}
{#        <ul class="pagination float-right" style="margin-bottom: 6%">#}
{#            {% if order_list.has_previous %}#}
{#                <li class="margin-top" ><a href="?page={{ order_list.previous_page_number }}">&laquo;</a></li>#}
{#            {% else %}#}
{#                <li class="disabled margin-top"><span>&laquo;</span></li>#}
{#            {% endif %}#}
{#            {% for i in order_list.paginator.page_range %}#}
{#                {% if order_list.number == i %}#}
{#                    <li class="btn btn-primary m-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                {% else %}#}
{#                    <li><a class="btn btn-secondary m-1" href="?page={{ i }}">{{ i }}</a></li>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            {% if order_list.has_next %}#}
{#                <li class="margin-top" ><a href="?page={{ order_list.next_page_number }}">&raquo;</a></li>#}
{#            {% else %}#}
{#                <li class="disabled margin-top"><span>&raquo;</span></li>#}
{#            {% endif %}#}
{#        </ul>#}
{#    {% endif %}#}
{% endblock %}
{% block js %}
    <script>
    function dowload_report_send(url) {
{#        alert('ji')#}
        $('.preloader').show();
        $.ajax({
                url: '/user/send_report/',
                method: "GET",
                data: {'sender_type': "executive", 'url': url, 'email': '{{ email }}'},
                success: function (res) {
                    $('.preloader').hide();
                    alert('Email has been sent successfully');
                }
            });
    }
    </script>
{% endblock %}